
<div class="row">
    <div class="col-lg-12">
        <h1>Switch</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#switches"><i class="fa fa-random"></i>
                    Switch</a></li>
            <li class="active"><i class="fa fa-random"></i>
                {{switch .dpid}}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Name: {{switch .dpid}}</h3>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
        <dl>
            <dt>id:</dt>
            <dd>{{switch .id}}</dd>
            <dt>ip:</dt>
            <dd>{{switch .ip}}</dd>
            <dt>tcpPort:</dt>
            <dd>{{switch .tcpPort}}</dd>
            <dt>location:</dt>
            <dd>
                <b>id:</b> {{switch .location.id}},
                <b>version:</b> {{switch .location.version}},
                <b>name:</b> {{switch .location.name}}
            </dd>
        </dl>
    </div>
</div>
<h4>Ports:</h4>
<div class="row" ng-show="switch">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
        <div>
            <table class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id'; reverse = !reverse">id <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'capacity'; reverse = !reverse">capacity <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'portNumber'; reverse = !reverse">portNumber <i class="fa fa-sort"></i></th>
                        <th>links</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in switch .ports| orderBy:predicate:reverse">
                        <td>{{data.id}}</td>
                        <td>{{data.capacity}}</td>
                        <td>{{data.portNumber}}</td>
                        <td>
                            <div ng-show="data.link">
                                Switch: <a ng-href="#switches/{{data.link.switch_dpid}}">{{data.link.switch_dpid}}</a>,
                                Port: {{data.link.portNumber}},
                                capacity: {{data.link.capacity}},
                                id: {{data.link.link.id}}
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-if="!data.link"><a href="" ng-click="addLink(switch .dpid, data)">Add Link</a></li>
                                    <li><a href="" ng-click="delete(data.link.link.id)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" id="modalLink" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Link</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <p>
                        Create a new link between two ports of two switches.
                    </p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="box">
                                        <div class="row" ng-show="switch">
                                            <b>Switch:</b>
                                            <hr class="hr_title"/>
                                            <dd>{{switch .dpid}}</dd>
                                            <b>Port</b>
                                            <hr class="hr_title"/>
                                            <dl>

                                                <dt>id:</dt>
                                                <dd>{{portS.id}}</dd>
                                                <dt>capacity:</dt>
                                                <dd>{{portS.capacity}}</dd>
                                                <dt>portNumber:</dt>
                                                <dd>{{portS.portNumber}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="box">
                                        <div class="row">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="typeSelect">Switch target</label>
                                                    <select name="typeSelect" class="form-control modal-select"
                                                            ng-model="switchT"
                                                            ng-options="switch as switch.dpid for switch in switchesTarget | orderBy:'dpid':false"
                                                            ng-change="changeSelectionTarget(switchT)"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="switchT">
                                            <div class="">
                                                <div class="form-group">
                                                    <label for="typeSelect">Port for {{switchT.dpid}}:</label>
                                                    <select name="typeSelect" class="form-control modal-select"
                                                            ng-model="portT"
                                                            ng-options="ports as ports.portNumber for ports in switchT.ports | orderBy:'portNumber':false"
                                                            ng-change="changePortT(portT)"></select>
                                                </div>
                                            </div>
                                            <div ng-show="portT">
                                                <b>Port</b>
                                                <hr class="hr_title"/>
                                                <dl>
                                                    <dt>id:</dt>
                                                    <dd>{{portT.id}}</dd>
                                                    <dt>capacity:</dt>
                                                    <dd>{{portT.capacity}}</dd>
                                                    <dt>portNumber:</dt>
                                                    <dd>{{portT.portNumber}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="sendLink()"
                        data-dismiss="modal">Create Link
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of Switch: {{switch .dpid}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{switchJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>