
<div class="row">
    <div class="col-lg-12">
        <h1>Chain
            <small>Informations</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#chains"><i class="fa fa-link"></i>
                    Controller</a></li>
            <li class="active"><i class="fa fa-retweet"></i>
                {{chain.id}}
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Chain</h3>
        <dl>
            <dt>id:</dt>
            <dd>{{chain.id}}</dd>
            <dt>Source:</dt>
            <dd>IP: {{chain.srcIP}} :: PORT: {{chain.srcPort}}</dd>
            <dt>Target:</dt>
            <dd>IP: {{chain.dstIP}} :: PORT: {{chain.dstPort}}</dd>
            <dt>protocol:</dt>
            <dd>{{chain.protocol}}</dd>
            <dt>qosLevel:</dt>
            <dd>{{chain.qosLevel}}</dd>
            <dt>route:</dt>
            <dd>
                <div ng-repeat="route in chain.route.route">
                    dpid: {{route.dpid}}<br/>
                    <i class="fa fa-sign-in"></i> id: {{route.inport.id}}, capacity:
                    {{route.inport.capacity}}, portNumber: {{route.inport.portNumber}}<br/>
                    <i class="fa fa-sign-out"></i> id: {{route.outport.id}}, capacity:
                    {{route.outport.capacity}}, portNumber: {{route.outport.portNumber}}
                </div>
            </dd>
        </dl>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="graphicInfrastructure" style="min-height: 500px" class="panel panel-default top-buffer">

        </div>

    </div>

</div>

