    <div class="row">
        <div class="col-lg-12">
            <h1>
                Infrastructure
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>
                        Overview</a></li>
                <li class="active"><i class="fa fa-sitemap"></i>
                    Infrastructure</li>
            </ol>
        </div>
    </div>
    <div class="row " >
        <div class="col-lg-12">
            <button ng-show="!infrastructure" id="create_infra" class="btn btn-primary pull-right"
                    title="Create a new Infrastructure" data-toggle="modal" 
                    data-target="#modalInfrastructure">Create Infrastructure
            </button>
            <button ng-show="infrastructure" id="delete_infra" class="btn btn-danger pull-right"
                    title="Delete Infrastructure"  ng-click="delete()">Delete Infrastructure
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 top-buffer" >
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
        </div>
    </div>
    <div class="row" ng-show="infrastructure" >
        <div class="col-lg-12 " >

            <h3>
                Infrastructure name:
                <a href="#infrastructures/{{infrastructure.id}}">{{infrastructure.name}}</a>
            </h3>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12" ng-show="infrastructure">
            <button ng-show="isCollapsed" type="button" class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed" ng-init="resizeMap()">Show Map</button>
            <button ng-show="!isCollapsed" type="button" class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">Show Topology</button>
        </div>
    </div>

    <div class="row" ng-show="infrastructure" collapse="!isCollapsed">
        <div class="col-lg-12">
            <div id="graphicInfrastructure" style="min-height: 500px"  class="panel panel-default top-buffer">

            </div>

        </div>

    </div>

    <div class="row" ng-show="infrastructure" collapse="isCollapsed">
        <div class="col-lg-12">
            <div class="col-lg-12" id="map_canvas" ng-init="initialize()" >
            </div>
        </div>
    </div>

<!--./page-wrapper-->
<div class="modal " id="modalInfrastructure" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Infrastructures</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="formJson">
                    <div class="form-group">
                        <br> <label for="jsonInputArea">Infrastructure input</label>
                        <textarea name="textTopologyJson" ng-model="textTopologyJson" ng-change="changeText(textTopologyJson)"id="jsonInputArea" class="form-control" rows="5"
                                  placeholder="{ }"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="jsonInputFile">File input</label> 
                        <input type="file" id="jsonInputFile" onchange="angular.element(this).scope().setFile(this)" >
                        <p class="help-block">Example: Infrastructure.json </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendInfrastructure()"
                        data-dismiss="modal">Create Infrastructure</button>
            </div>
        </div>
    </div>
</div>
<!--./modal Infrastructure-->
<div class="modal " id="modalLink" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Link</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">

                    <div class="form-group">
                        <label for="typeSelect" class="col-sm-4 control-label">Switch</label> 
                        <div class="col-sm-5">
                            <select name="typeSelect" class="form-control modal-select" ng-model="selection" ng-options="switch as switch.dpId for switch in switchesTarget" ng-change="changeSelectionS(selection)"></select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendLink()"
                        data-dismiss="modal">Create Link</button>
            </div>
        </div>
    </div>
</div>
