<div class="row">
    <div class="col-lg-12">
        <h1>
            Infrastructure
            <small>Informations</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#infrastructures"><i class="fa fa-sitemap"></i>
                    Infrastructures</a></li>
            <li class="active"><i class="fa fa-bar-chart-o"></i>
                {{infrastructure.name}}</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <h3>Infrastructure Name: {{infrastructure.name}}</h3>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
        <dl>
            <div ng-repeat="(key,value) in infrastructure">
                <div ng-if="key != 'datacenters' && key != 'links' && key != 'accessPoints' && key != 'controllers'">
                    <dt>{{key}}:</dt>
                    <dd>{{value}}</dd>
                </div>
                <div ng-if="key == 'accessPoints'">
                    <dt>{{key}}:</dt>
                    <hr class="hr_title"/>
                    <div ng-repeat="aP in value">
                        <div ng-repeat="(k,v) in aP" >
                            <div ng-if="k != 'ports'">
                                <dd>{{k}}: {{v}}</dd>
                            </div>
                            <div ng-if="k == 'ports'">
                                <dt>ports:</dt>
                                <div ng-repeat="port in v">
                                    <dd><b>id:</b> {{port.id}}, capacity: {{port.capacity}}, portId: {{port.portId}}, portNumber: {{port.portNumber}}  </dd>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-if="key == 'controllers'">
                    <dt>controllers:</dt>
                    <hr class="hr_title"/>
                    <div ng-repeat="contr in value">
                        <div ng-repeat="(k,v) in contr" >
                            <div ng-if="k != 'switches'">
                                <dd>{{k}}: {{v}}</dd>
                            </div>
                            <div ng-if="k == 'switches'">
                                <dt>{{k}}:</dt>
                                <hr class="hr_title"/>
                                <div ng-repeat="switch in v">
                                    <div ng-repeat="(ks,vs) in switch">
                                        <dd ng-if="ks != 'ports' && ks != 'location'">
                                            {{ks}}: {{vs}}
                                        </dd>
                                        <div ng-if="k == 'ports'">
                                            <dt>{{k}}:</dt>
                                            <div ng-repeat="port in v">
                                                <dd ng-repeat="(k2,v2) in port">
                                                    {{k2}}: {{v2}}
                                                </dd>
                                            </div>
                                        </div>
                                        <div ng-if="ks == 'location'">
                                            <dd><b>{{ks}}:</b> id: {{vs.id}}, version: {{vs.version}}, name: {{vs.name}}</dd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="key == 'links'">
                    <dt>links:</dt>
                    <hr class="hr_title"/>
                    <div ng-repeat="link in value">
                        {{value.links}}
                        <dd><b>id</b>: {{link.id}}, <b>version</b>: {{link.version}} </dd>
                        <dd><b>source</b> capacity: {{link.source.capacity}}, portId: {{link.source.portId}}, portNumber: {{link.source.portNumber}}  </dd>
                        <dd><b>target</b> capacity: {{link.target.capacity}}, portId: {{link.target.portId}}, portNumber: {{link.target.portNumber}}  </dd>
                    </div>
                </div>
            </div>
            <div ng-show="infrastructure.datacenters">
                <a href="#datacenters"><h4><b>Datacenters</b></h4></a>
                <hr class="hr_title"/>
                <div ng-repeat="datacenter in infrastructure.datacenters">
                    <div ng-repeat="(key,value) in datacenter">
                        <div ng-if="key != 'location' && key != 'configuration' && key != 'serviceImageId' && key != 'switch' && key != 'subnets'">
                            <dt>{{key}}:</dt>
                            <dd>{{value}}</dd>
                        </div>
                        <div ng-if="key == 'location'">
                            <dt>{{key}}:</dt>
                            <dd>id: {{value.id}}</dd>
                            <dd>version: {{value.version}}</dd>
                            <dd>name: {{value.name}}</dd>

                        </div>
                        <div ng-if="key == 'subnets'">
                            <dt>subnets:</dt>
                            <dd ng-repeat="sub in value">
                                id: {{sub.id}}, version: {{sub.version}}, extId: {{sub.extId}},
                                name: {{sub.name}}, cidr: {{sub.cidr}},
                                startIp: {{sub.startIp}}, endIp: {{sub.endIp}}
                            </dd>
                        </div>
                        <div ng-if="key == 'configuration'">
                            <dt>{{key}}:</dt>
                            <dd>id: {{value.configurationId}}</dd>
                            <dd>configurationName: {{value.configurationName}}</dd>
                            <dt>parameters:</dt>
                            <dd ng-repeat="param in value.parameters">
                                <div>
                                    <b>id</b>: {{param.id}}, <b>key</b>: {{param.config_key}}, <b>value</b>: {{param.config_value}}
                                </div>
                            </dd>
                        </div>
                        <div ng-if="key == 'serviceImageId'">
                            <dt>{{key}}:</dt>
                            <dd ng-repeat="(k,v) in value">
                                {{k}}: {{v}}
                            </dd>
                        </div>
                        <div ng-if="key == 'switch'">
                            <dt>{{key}}:</dt>
                            <div ng-repeat="(k,v) in value">
                                <dd ng-if="k != 'ports'">
                                    {{k}}: {{v}}
                                </dd>
                                <div ng-if="k == 'ports'">
                                    <dt>{{k}}:</dt>
                                    <div ng-repeat="port in v">
                                        <dd ng-repeat="(k2,v2) in port">
                                            {{k2}}: {{v2}}
                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </dl>

    </div>
</div>

<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of Infrastructure: {{infrastructure.name}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{infrastructureJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>