*.class

*.jar
!gradle/wrapper/gradle-wrapper.jar
!plugins/*

*.zip
*.java.hsp
*.sonarj
*.sw*
*.log
.DS_Store
.settings
.springBeans
build/*
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradl
argfile*
pom.xml
activemq-data/
.gradle/
gradle/gradle/wrapper/
gradle/osx
gradle/gradlew
gradle/gradlew.bat

*/build/*
build/*
build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/*

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
