<div class="row">
    <div class="col-lg-12">
        <h1>
            VNF Dependencies
            <small>into {{nsrinfo.name}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="">
                <a href="#nsrecords/"><i class="fa fa-pencil"></i>
                    NS Dependencies</a></li>
            </li>
            <li class="">
                <a href="#nsrecords/{{nsrinfo.id}}"><i class="fa fa-pencil"></i>
                    NSR: {{nsrinfo.name}}</a></li>
            </li>
            <li class="">
                <a href="#nsrecords/{{nsrinfo.id}}/vnfdependencies"><i class="fa fa-pencil-square-o"></i>
                    VNF Dependencies</a>
            </li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                VNF Dependency
            </li>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="btn_create_nsd" href="#" class="btn btn-primary pull-right"
                title="Add a new Virtuan Networck Function Descriptor" data-toggle="modal"
                data-target="#modalFile">Add a new VNFDependency
        </button>


    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
        <div class="table-responsive" ng-if="nsrinfo.vnf_dependency.length > 0">

            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <th ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'idType'; reverse = !reverse">idType <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'parameters'; reverse = !reverse">Parameters <i class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'target'; reverse = !reverse">Target <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'version'; reverse = !reverse">Version <i class="fa fa-sort"></i></th>
                    <th>Actions <i class="fa"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vnfd in nsrinfo.vnf_dependency| orderBy:predicate:reverse">
                    <td><a href="#nsrecords/{{nsrinfo.id}}/vnfdependencies/{{vnfd.id}}" ng-click="showData(vnfd)">{{vnfd.id}}</a>
                    </td>
                    <td><span ng-repeat="(k,v) in vnfd.idType">{{v}}<span ng-if="!$last">, </span></span></td>
                    <td><span ng-repeat="(k,v) in vnfd.parameters"><b>{{k}}</b>:
                        <ul>
                            <li ng-repeat="(k2,v2) in v.parameters">{{k2}}: {{v2}}</li>
                        </ul>
                    </span>
                    </td>
                    <td>{{vnfd.target}}</td>
                    <td>{{vnfd.version}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li><a href="" data-toggle="modal" data-target="#modalAdd"
                                       ng-click="launch(nsd)">Launch</a>
                                </li>-->
                                <li class="divider"></li>
                                <li><a href="" ng-click="deleteVNFDependency(vnfd)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
