
<div class="row">
    <div class="col-lg-12">
        <h1>Switches</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li class="active"><i class="fa fa-random"></i>
                Switches</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <button id="btn_create_topology" class="btn btn-primary pull-right"
                title="Create a new Switch" data-toggle="modal" 
                data-target="#modalSwitch" ng-click="createSwitch()">
            Create Switch
        </button>
    </div>
</div>
<div class="row" ng-show="switches" >
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
        <div>
            <table class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id'; reverse = !reverse">id <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'ports.length'; reverse = !reverse">Ports <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'dpid'; reverse = !reverse">dpid <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'ip'; reverse = !reverse">ip <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'tcpPort'; reverse = !reverse">tcpPort <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'location.name'; reverse = !reverse">location <i class="fa fa-sort"></i></th>
                        <th>Flow </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in switches| orderBy:predicate:reverse">
                        <td><a href="#switches/{{data.dpid}}">{{data.id}}</a></td>
                        <td>{{data.ports.length}}</td>
                        <td>{{data.dpid}}</td>
                        <td>{{data.ip}}</td>
                        <td>{{data.tcpPort}}</td>
                        <td>{{data.location.name}}</td>
                        <td>
                            <a href="#flow/{{data.dpid}}">Flow</a>
                        </td>
                        <td>
                            <div class="btn-group">

                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button> 
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href=""  ng-click="deleteSwitch(data)">Delete</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="row" ng-show="switches">
    <div class="col-lg-12">
    </div>
</div>

<div class="modal " id="modalSwitch" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Switch</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <div class="form-group" ng-repeat="(k,v) in switchForm">
                        <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="{{k}}" name="{{k}}"
                                   ng-model="switchForm[k]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="typeSelect" class="col-sm-4 control-label">Location</label> 
                        <div class="col-sm-5">
                            <select name="typeSelect" class="form-control modal-select" ng-model="selection" ng-options="locations as locations.name for locations in locations" ng-change="changeSelection(selection)"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendSwitch(switchForm)"
                        data-dismiss="modal">Create Switch</button>
            </div>
        </div>
    </div>
</div>


<div class="modal " id="modalFlow" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Flow</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <div class="form-group" ng-repeat="(k,v) in flowForm">
                        <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="{{k}}" name="{{k}}"
                                   ng-model="flowForm[k]">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendFlow(flowForm)"
                        data-dismiss="modal">Create Flow</button>
            </div>
        </div>
    </div>
</div>