
<div class="row">
    <div class="col-lg-12">
        <h1>
            Service <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#services"><i class="fa fa-list-alt"></i>
                    Services</a></li>
            <li class="active"><i class="fa fa fa-list-alt"></i> Service: {{serviceSelected.serviceType}}</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row top-buffer">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>

        <div class="col-lg-12" ng-show="serviceSelected">
            <h2><dt>Service Type:
                {{serviceSelected.serviceType}}</dt></h2>
            <dl>
                <!--<h4><a href="#/vim-instances/{{topologyShow.id}}/networks" >Networks<i class=""></i></a></h4>-->
                <div ng-repeat="(key,value) in serviceSelected track by key">
                    <div ng-if="key !== 'configuration' && key !== 'version' && key !== 'serviceType'">
                        <dt>{{key}}:</dt>
                        <dd>{{value}}</dd>
                    </div>
                    <div ng-if="key === 'configuration'">
                        <dt>{{key}}:</dt>
                        <dd>id: {{value.id}}</dd>
                        <dd>version: {{value.version}}</dd>
                        <dd>configurationName: {{value.configurationName}}</dd>
                        <dt>parameters:</dt>
                        <dd ng-repeat="param in value.parameters">
                            <div>
                                <b>id</b>: {{param.id}}, <b>key</b>: {{param.config_key}}, <b>value</b>: {{param.config_value}}
                            </div>
                        </dd>
                    </div>
                </div>


            </dl>


        </div>
    </div>
</div>

