<div id="wrapper" ng-controller="IndexCtrl">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">OpenBaton - NFVO</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <!--<li class="dropdown messages-dropdown">-->
        <!--<a href=""-->
        <!--data-toggle="modal"-->
        <!--data-target="#modalSetting">-->
        <!--<i class="fa fa fa-cog"></i> Settings-->
        <!--</a>-->
        <!--</li>-->

        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <!--<li>
                    <a href=""><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>-->
                <li>
                    <a href=""
                       data-toggle="modal"
                       data-target="#modalSetting"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="logout()" href=""><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>


        <!-- /.dropdown -->


        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li id="li-logo">
                    <div class="container logo">
                        <img src="img/OpenBatonLogoTransp.png" class="img-responsive"
                             alt="Responsive image">

                    </div>

                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Overview</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-database fa-fw"></i> Catalogue<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#nsdescriptors"><i class="fa fa-pencil-square-o fa-fw"></i> NS Descriptors</a>
                        </li>
                        <li>
                            <a href="#vnfdescriptors"><i class="fa fa-file-text-o fa-fw"></i> VNF Descriptors</a>
                        </li>
                        <li>
                            <a href="#packages"><i class="fa fa-cube fa-fw"></i> VNF Packages</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-cogs fa-fw"></i> Orchestrate NS<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="#nsrecords"><i class="fa fa-list-alt fa-fw"></i> NS Records</a>
                        </li>

                     <!--   <li>
                            <a href="#dragdrop"><i class="fa fa-pencil-square-o"></i> Drag Drop</a>
                        </li>-->
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Manage PoPs<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#vim-instances"><i class="fa fa-tasks"></i> PoP instances</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                    <div class="" id="footer">
                        <a href="#copyright"><div class="fa fa-copyright"></div> 2015 Fraunhofer FOKUS </a>
                    </div>

            </ul>
            <div></div>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">


    <div ng-view></div>


</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->





<div class="modal" id="modalSetting" ng-controller="MenuCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Configure Settings</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formSetting">
                    <div class="form-group" ng-repeat="parameter in config.configurationParameters track by $index">
                        <label for="{{parameter.confKey}}" class="col-sm-4 control-label">{{parameter.confKey}}</label>
                        <div class="col-sm-6 input-group"><input type="text" ng-model="config.configurationParameters[$index].value" class="form-control parameters" id="{{config.configurationParameters[$index].value}}">
                            <span class="input-group-addon">@</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="saveSetting(config)" class="btn btn-primary" id="btnSaveSettings">Save
                    changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal " id="modalSend" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Working...</h4>
            </div>
            <div class="modal-body">
                <br/>
                <div class=" progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default disabled"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

