<div class="row">
    <div class="col-lg-12">
        <h1>
            VIM instance
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li><a href="#vim-instances"><i class="fa fa-tasks"></i>
                VIM instances</a></li>
            <li class="active"><i class="fa fa-bar-chart-o"></i>
                {{vimInstance.name}}</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <h3>Datacenter Name: {{vimInstance.name}} <a href="" ng-click="refreshDc()"><i id="refreshIco" class="fa fa-refresh"></i></h3></a>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
        <dl>
            <!--<h4><a href="#/vim-instances/{{vimInstance.id}}/networks" >Networks<i class=""></i></a></h4>-->
            <div ng-repeat="(key,value) in vimInstance">
                <div ng-if="key != 'location' && key != 'configuration' && key != 'serviceImageId' && key != 'switch' && key != 'subnets' && key != 'serviceContainers'">
                    <dt>{{key}}:</dt>
                    <dd>{{value}}</dd>
                </div>

                <div ng-if="key == 'location'">
                    <dt>{{key}}:</dt>
                    <dd>id: {{value.id}}</dd>
                    <dd>version: {{value.version}}</dd>
                    <dd>name: {{value.name}}</dd>
                </div>
                <div ng-if="key == 'subnets'">
                    <dt><a href="" data-toggle="modal"  data-target="#modalUpdateSubnets">Subnets <i class="fa fa-pencil-square-o"></i></a></dt>
                    <dd ng-repeat="sub in value">
                        id: {{sub.id}}, version: {{sub.version}}, extId: {{sub.extId}},
                        name: {{sub.name}}, cidr: {{sub.cidr}},
                        startIp: {{sub.startIp}}, endIp: {{sub.endIp}}
                    </dd>
                </div>
                <div ng-if="key == 'configuration'">
                    <dt>{{key}}:</dt>
                    <dd>id: {{value.id}}</dd>
                    <dd>version: {{value.version}}</dd>
                    <dd>configurationName: {{value.configurationName}}</dd>
                    <dt>parameters:</dt>
                    <dd ng-repeat="param in value.parameters">
                        <div>
                            <b>id</b>: {{param.id}}, <b>key</b>: {{param.config_key}}, <b>value</b>: {{param.config_value}}
                        </div>
                    </dd>
                </div>
                <div ng-if="key == 'serviceImageId'">
                    <dt><a href="" data-toggle="modal"  data-target="#modalUpdateImage">Images <i class="fa fa-pencil-square-o"></i></a></dt>
                    <dd>
                        <div ng-repeat="(k,v) in value">
                            <b>{{k}}</b>: {{v}}
                        </div>
                    </dd>
                </div>
                <div ng-if="key == 'switch'">
                    <dt>{{key}}:</dt>
                    <div ng-repeat="(k,v) in value">
                        <dd ng-if="k != 'ports'">
                            {{k}}: {{v}}
                        </dd>
                        <div ng-if="k == 'ports'">
                            <dt>{{k}}:</dt>
                            <div ng-repeat="port in v">
                                <dd ng-repeat="(k2,v2) in port">
                                    {{k2}}: {{v2}}
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dl>

    </div>
</div>

<!-- /.wrapper -->



<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of VIM instance: {{vimInstance.name}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{vimInstanceJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>