<div class="row">
    <div class="col-lg-12">
        <h1>
            Network Service Descriptors
            <small>List of NSDs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                NSDs
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="btn_create_nsd" href="#" class="btn btn-primary pull-right"
                title="Create a new Network Service Descriptor" data-toggle="modal"
                data-target="#modalFile">Create NSD
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
        <div class="table-responsive" ng-if="nsdescriptors.length > 0">

            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <th class="col-sm-4" ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'name'; reverse = !reverse">NSD Name <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'vendor'; reverse = !reverse">Vendor <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'verision'; reverse = !reverse">Version <i class="fa fa-sort"></i></th>
                    <th>Actions <i class="fa"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="nsd in nsdescriptors| orderBy:predicate:reverse">
                    <td><a href="#nsdescriptors/{{nsd.id}}" ng-click="showData(nsd)">{{nsd.id}}</a></td>
                    <td>{{nsd.name}}</td>
                    <td>{{nsd.vendor}}</td>
                    <td>{{nsd.version}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" data-toggle="modal" data-target="#modalAdd" ng-click="launch(nsd)">Launch</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="" ng-click="deleteNSD(nsd)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="modalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Save a Network Service Descriptor</h4>

            </div>
            <div class="modal-body">
                <form role="form" id="formJson">
                    <div class="form-group">
                        <br> <label for="jsonInputArea">Insert Your Json</label>
                                <textarea name="textTopologyJson" ng-model="textTopologyJson"
                                          ng-change="changeText(textTopologyJson)" id="jsonInputArea"
                                          class="form-control" rows="5"
                                          placeholder="{ }"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="jsonInputFile">File input</label>
                        <input type="file" id="jsonInputFile" onchange="angular.element(this).scope().setFile(this)">

                        <p class="help-block">Example: NetworkServiceDescriptor.json </p>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="storeNSD"
                        ng-click="sendFile()" class="btn btn-primary">Store NSD
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalPolicy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Create a Policy for Service {{serviceEdit.serviceType}}</h4>
            </div>
            <div class="modal-body">
                <h3 class="">Alert</h3>

                <div class="row">
                    <div class="col-sm-4">
                        <label class=" ">Item</label>
                        <select name="typeSelect" class="form-control modal-select" ng-model="policy.alert.item"
                                ng-init="policy.alert.item = items[0]"
                                ng-options="items as items.itemKey for items in items| orderBy:'itemKey':false"></select>
                        <span class="help-block" ng-show="policy.alert.item">{{policy.alert.item.name}}</span>
                    </div>

                    <div class=" col-sm-2">
                        <label class="">sign</label>
                        <select name="typeSelect" class="form-control modal-select"
                                ng-init="policy.alert.sign = signs[0]" ng-model="policy.alert.sign"
                                ng-options="signs as signs for signs in signs| orderBy:'signs':false"></select>
                    </div>
                    <div class="col-sm-2">
                        <label class=" ">Value</label>
                        <input type="number" class="form-control" ng-model="policy.alert.value">
                    </div>
                    <div class="col-sm-2 pull-right" style="margin-right: 50px">
                        <label class="">Period</label> {{policy.alert.period}}
                        <input class="" type="range" min="0" max="100" ng-model="policy.alert.period"
                               ng-init="policy.alert.period = '60'" size="20" id="periodAlert"/>

                        <!--                        <input type="number" class="form-control"  ng-model="policy.alert.period" >-->
                    </div>
                </div>
                <hr/>
                <h3 class="">Action</h3>

                <div class="row">
                    <div class="col-sm-4">
                        <label class=" ">Type</label>
                        <select name="typeSelect" class="form-control modal-select"
                                ng-init="policy.action.actionType = types[0]" ng-model="policy.action.actionType"
                                ng-options="types as types for types in types| orderBy:'types':false"></select>
                    </div>

                    <div class=" col-sm-2">
                        <label class="">Num. unit</label> {{policy.action.unit}}
                        <!--<input type="number" class="form-control"  ng-model="policy.action.unit" >-->
                        <input type="range" min="0" max="10" ng-model="policy.action.unit"
                               ng-init="policy.action.unit = '1'" size="10" id="unitAction"/>
                    </div>
                    <div class="col-sm-2 pull-right" style="margin-right: 50px">
                        <label class=" ">Period</label> {{policy.action.period}}
                        <input class="" type="range" min="0" max="100" ng-model="policy.action.period"
                               ng-init="policy.action.period = '60'" size="20" id="periodAction"/>
                        <!--<input type="number" class="form-control"  ng-model="policy.action.period" >-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="addPolicy" class="btn btn-primary" ng-click="addPolicy(serviceContainer)">Add
                    Policy
                </button>
            </div>
        </div>
    </div>
</div>