<div class="row">
    <div class="col-lg-12">
        <h1>
            Network Service Descriptors
            <small>List of NSDs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                NS Descriptors
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="deleteMultiple" href="#"  ng-disabled="multipleDelete" class="btn btn-danger pull-right"  ng-style="{'margin-left':'25px'}"
                title="Delete all the items selected" data-target="#deleteModal" data-toggle="modal">Delete
        </button>

        <button id="btn_create_nsd" href="#" class="btn btn-primary pull-right"
                title="Create a new Network Service Descriptor" data-toggle="modal"
                data-target="#modalFile">Upload NSD
        </button>
        <button ng-click="loadVNFD()" class="btn btn-primary pull-right"
                title="Create a new Network Service Descriptor"
                ng-style="{'margin-right':'20px'}">Create NSD
        </button>
        <!-- <button id="btn_create_nsdf" href="#" class="btn btn-primary pull-right"
                 title="Create a new Network Service Descriptor" data-toggle="modal"
                 ng-style="{'margin-right':'20px'}"
                 data-target="#modalForm">Create NSD
         </button>-->

    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
        <div class="table-responsive" ng-if="nsdescriptors.length > 0">

            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <td><input type="checkbox" ng-model="main.checkbox" ></td>
                    <th class="col-sm-4" ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'name'; reverse = !reverse">NSD Name <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'vendor'; reverse = !reverse">Vendor <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'verision'; reverse = !reverse">Version <i class="fa fa-sort"></i></th>
                    <th>Actions <i class="fa"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="nsd in nsdescriptors| orderBy:predicate:reverse">
                    <td><input type="checkbox" ng-init="selection.ids[nsd.id] = false" ng-model="selection.ids[nsd.id]" name="group" id="{{nsd.id}}" /></td>
                    <td><a href="#nsdescriptors/{{nsd.id}}">{{nsd.id}}</a></td>
                    <td>{{nsd.name}}</td>
                    <td>{{nsd.vendor}}</td>
                    <td>{{nsd.version}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" data-toggle="modal"
                                       ng-click="launchOption(nsd)"
                                >Launch</a>
                                <li><a href="" data-toggle="modal" data-target="#editModal"
                                       ng-click="edit(nsd)"
                                >Edit</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="" ng-click="deleteNSD(nsd)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Save a Network Service Descriptor</h4>

            </div>
            <div class="modal-body">
                <form role="form" id="formJson">
                    <div class="form-group">
                        <br> <label for="jsonInputArea">Insert Your Json</label>
                                <textarea name="textTopologyJson" ng-model="textTopologyJson"
                                          ng-change="changeText(textTopologyJson)" id="jsonInputArea"
                                          class="form-control" rows="5"
                                          placeholder="{ }"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="jsonInputFile">File input</label>
                        <input type="file" id="jsonInputFile" onchange="angular.element(this).scope().setFile(this)">

                        <p class="help-block">Example: NetworkServiceDescriptor.json </p>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="storeNSD"
                        ng-click="sendFile()" class="btn btn-primary">Store NSD
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEditVDU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit a Virtual Deployment Unit</h4>

            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group" ng-repeat="(key,value) in vduCreate"
                         ng-if="key!='lifecycle_event' && key!='monitoring_parameter'
                         && key!='vm_image'&& key!='vnfc' && key!='vimInstanceName'">
                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                   ng-model="vduCreate[key]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vimInstanceName" class="col-sm-4 control-label">vimInstanceName</label>

                        <div class="col-sm-6">
                            <!--          <select type="text" class="form-control" id="vimInstanceName" name="{{key}}"
                                             ng-model="vduCreate['vimInstance']['name']"/>-->
                            <select name="typeSelect" class="form-control modal-select"
                                    ng-model="vduCreate['vimInstanceName']"

                                    ng-options="vim.name as vim.name for vim in vimInstances | orderBy:'name':false"
                                    ng-change="">
                            </select>

                            <!--<select name="vimInstanceName" id="vimInstanceName" ng-model="vduCreate['vimInstanceName']">
                                <option ng-repeat="option in vimInstances" value="{{option.name}}">{{option.name}}</option>
                            </select>-->
                        </div>


                    </div>
                    <tabset>
                        <tab heading="lifecycle_event" ng-show="showTab(vduCreate.lifecycle_event.length)">
                            {{vduCreate.lifecycle_event}}
                        </tab>
                        <tab heading="monitoring_parameter">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">Monitoring Parameters
                                            <a class="pull-right" title="Add a New Monitoring Prameter" href=""
                                               ng-click="toggle = !toggle">
                                                <i class="fa fa-plus-square"> Add </i></a></div>
                                    </h4>
                                </div>
                                <div ng-init="toggle = false" ng-if="toggle" id="">
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div class="form-group">
                                        <label for="newValue" class="col-sm-4 control-label">new Value</label>

                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <input class="form-control" type="text" ng-model="newValue">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="saveValueMP(newValue)"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br/>
                            <ul class="col-lg-offset-3"
                                ng-repeat="mp in vduCreate.monitoring_parameter track by $index">
                                <li>{{mp}} <a href="" ng-click="deleteMP($index)"><i class="fa fa-trash-o"></i></a></li>
                            </ul>
                            <!--{{vduCreate.monitoring_parameter}}-->
                        </tab>
                        <tab heading="vm_image">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">Virtual Machine Images
                                            <a class="pull-right" title="Add a New VMI" href=""
                                               ng-click="toggle = !toggle">
                                            </a></div>
                                    </h4>
                                    <div class="col-lg-offset-2" ng-repeat="vim in vimInstances">

                                        <div ng-if="vim.name==vduCreate.vimInstanceName"
                                             ng-repeat="image in vim.images">
                                            <input
                                                    type="checkbox"
                                                    name="selectedImages[]"
                                                    value="{{image.name}}"
                                                    ng-checked="selection.indexOf(image.name) > -1"
                                                    ng-click="toggleSelection(image.name)"
                                            > {{image.name}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-init="toggle = false" ng-if="toggle" id="">
                                    <br/>
                                    <br/>
                                    <br/>


                                </div>
                            </div>
                            <br/>

                            <ul class="col-lg-offset-3" ng-repeat="vmi in vduCreate.vm_image track by $index">
                                <li>{{vmi}} <a href="" ng-click="deleteVMI($index)"><i class="fa fa-trash-o"></i></a>
                                </li>
                            </ul>
                            <!--{{vduCreate.vm_image}}-->
                        </tab>
                        <tab heading="vnfc" ng-show="showTab(vduCreate.vnfc.length)">
                            {{vduCreate.vnfc}}
                        </tab>
                    </tabset>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="editAddVDU"
                        ng-click="addVDUtoVND()" class="btn btn-primary">Save VDU
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modaladdDepFlavour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit a Deployment Unit</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="form4" class="form-horizontal">
                    <div class="form-group" ng-repeat="(key,value) in depFlavor"
                         ng-if="key!='df_constraint' && key!='costituent_vdu'">
                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                   ng-model="depFlavor[key]"/>
                        </div>
                    </div>
                    <tabset>
                        <tab heading="costituent_vdu">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">Costituent VDU
                                            <a class="pull-right" title="Add a New costituent_vdu" href=""
                                               ng-click="toggle = !toggle">
                                                <i class="fa fa-plus-square"> Add </i></a></div>
                                    </h4>
                                </div>
                                <div ng-init="toggle = false" ng-if="toggle" id="">
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div class="form-group">
                                        <label for="newValue" class="col-sm-4 control-label">new Value</label>

                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <input class="form-control" type="text" ng-model="newValue">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="saveValueDFC(newValue)"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br/>

                            <ul class="col-lg-offset-3" ng-repeat="dfc in depFlavor.df_constraint track by $index">
                                <li>{{dfc}} <a href="" ng-click="deleteDFC($index)"><i class="fa fa-trash-o"></i></a>
                                </li>
                            </ul>
                            <!--{{depFlavor.costituent_vdu}}-->

                        </tab>
                        <tab heading="df_constraint">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">DF Constraint
                                            <a class="pull-right" title="Add a New df_constraint" href=""
                                               ng-click="toggle = !toggle">
                                                <i class="fa fa-plus-square"> Add </i></a></div>
                                    </h4>
                                </div>
                                <div ng-init="toggle = false" ng-if="toggle" id="">
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div class="form-group">
                                        <label for="newValue" class="col-sm-4 control-label">new Value</label>

                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <input class="form-control" type="text" ng-model="newValue">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="saveValueCVDU(newValue)"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br/>

                            <ul class="col-lg-offset-3" ng-repeat="c_vdu in depFlavor.costituent_vdu track by $index">
                                <li>{{c_vdu}} <a href="" ng-click="deleteCVDU($index)"><i class="fa fa-trash-o"></i></a>
                                </li>
                            </ul>
                            <!--{{depFlavor.costituent_vdu}}-->
                        </tab>
                    </tabset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="storeDF"
                        ng-click="storeDepFlavour()" class="btn btn-primary">Store DFlavour
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addEditVNDF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit a Virtual Network Function Descriptor</h4>

            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group" ng-repeat="(key,value) in vnfdCreate"
                         ng-if="key!='auto_scale_policy' && key!='connection_point' && key!='connection_point'
                         && key!='monitoring_parameter' && key!='vdu'&& key!='vdu_dependency'
                         && key!='deployment_flavour' && key!='lifecycle_event'&& key!='virtual_link' && key!='lifecycle_event'">
                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                   ng-model="vnfdCreate[key]"/>
                        </div>


                    </div>
                    <tabset>
                        <tab class="" heading="auto_scale_policy"
                             ng-show="showTab(vnfdCreate.auto_scale_policy.length)">
                            {{vnfdCreate.auto_scale_policy}}
                        </tab>
                        <tab class="" heading="connection_point" ng-show="showTab(vnfdCreate.connection_point.length)">
                            {{vnfdCreate.connection_point}}
                        </tab>
                        <tab class="" heading="monitoring_parameter">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">Monitoring Parameters
                                            <a class="pull-right" title="Add a New Monitoring Prameter" href=""
                                               ng-click="toggle = !toggle">
                                                <i class="fa fa-plus-square"> Add </i></a></div>
                                    </h4>
                                </div>
                                <div ng-init="toggle = false" ng-if="toggle" id="">
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div class="form-group">
                                        <label for="newValue" class="col-sm-4 control-label">new Value</label>

                                        <div class="col-sm-6">
                                            <div class="form-group input-group">
                                                <input class="form-control" type="text" ng-model="newValue">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="saveValueMPfromVNFD(newValue)"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br/>

                            <ul class="col-lg-offset-3"
                                ng-repeat="mp in vnfdCreate.monitoring_parameter track by $index">
                                <li>{{mp}} <a href="" ng-click="deleteMPfromVNFD($index)"><i class="fa fa-trash-o"></i></a>
                                </li>
                            </ul>
                            <!--{{vnfdCreate.monitoring_parameter}}-->
                        </tab>
                        <!---->
                        <tab class="" heading="vdu">
                            <div class="">
                                <div class="">
                                    <h4 class="">
                                        <div class="col-lg-12">Virtual Descriptor Unit
                                            <a class="pull-right" title="Add a New VDU" href="" ng-click="addVDU()">
                                                <i class="fa fa-plus-square"> Add </i></a></div>
                                    </h4>

                                </div>
                            </div>
                            <br/>
                            <br/>

                            <div class="row">
                                <div class="" ng-style="{'padding-left':'40px','padding-right':'40px'}"
                                     ng-repeat="vdu in vnfdCreate.vdu track by $index">

                                    <div class="row">
                                        <spam ng-repeat="(key,value) in vdu" ng-if="!isEmpty(value)">
                                            <b>{{key}}</b>: {{value}}
                                            <spam ng-if="!$last"><br/></spam>
                                        </spam>
                                        <div class="pull-right">
                                            <a href="" title="Edit VDU" ng-click="editVDU(vdu,$index)">
                                                <i class="fa fa-pencil-square"> &nbsp; &nbsp;</i></a>
                                            <a href="" title="Delete VDU" ng-click="deleteVDU($index)">
                                                <i class="fa fa-trash-o"> </i></a>
                                        </div>

                                    </div>
                                    <hr class="hr_title"/>
                                </div>
                            </div>
                        </tab>
                        <tab class="" heading="vdu_dependency" ng-show="showTab(vnfdCreate.vdu_dependency.length)">
                            {{vnfdCreate.vdu_dependency}}
                        </tab>
                        <tab class="" heading="deployment_flavour">
                            <h4 class="">
                                <div class="col-lg-12">Deployment Flavour
                                    <a class="pull-right" title="Add a New Deployment Flavour" href=""
                                       ng-click="addDepFlavour()">
                                        <i class="fa fa-plus-square"> Add </i></a></div>
                            </h4>
                            <br/>
                            <br/>

                            <div class="row">
                                <div class="" ng-style="{'padding-left':'40px','padding-right':'40px'}"
                                     ng-repeat="df in vnfdCreate.deployment_flavour track by $index">

                                    <div class="row">
                                        <spam ng-repeat="(key,value) in df" ng-if="!isEmpty(value)">
                                            <b>{{key}}</b>: {{value}}
                                            <spam ng-if="!$last"><br/></spam>
                                        </spam>
                                        <div class="pull-right">
                                            <a href="" title="Edit this Deployment Flavour"
                                               ng-click="editDF(df,$index)">
                                                <i class="fa fa-pencil-square"> &nbsp; &nbsp;</i></a>
                                            <a href="" title="Delete this Deployment Flavour"
                                               ng-click="deleteDF($index)">
                                                <i class="fa fa-trash-o"> </i></a>
                                        </div>

                                    </div>
                                    <hr class="hr_title"/>
                                </div>
                            </div>
                            <!--{{vnfdCreate.deployment_flavour}}-->
                        </tab>
                        <tab class="" heading="lifecycle_event" ng-show="showTab(vnfdCreate.lifecycle_event.length)">
                            <!--   {{vnfdCreate.lifecycle_event}}-->

                            <h4 class="">
                                <div class="col-lg-12">Lifecycle Event
                                    <a class="pull-right" title="Add a New Lifecycle Event" href=""
                                       ng-click="addLifecycleEvent()">
                                        <i class="fa fa-plus-square"> Add </i></a>
                                </div>
                            </h4>
                            <br/>
                            <br/>

                            <div class="row">
                                <div class="" ng-style="{'padding-left':'40px','padding-right':'40px'}"
                                     ng-repeat="le in vnfdCreate.lifecycle_event track by $index">

                                    <div class="row">
                                        <spam ng-repeat="(key,value) in le" ng-if="!isEmpty(value)">
                                            <b>{{key}}</b>: {{value}}
                                            <spam ng-if="!$last"><br/></spam>
                                        </spam>
                                        <div class="pull-right">
                                            <a href="" title="Edit this Lifecycle Event"
                                               ng-click="editLEfromVNFD(le,$index)">
                                                <i class="fa fa-pencil-square"> &nbsp; &nbsp;</i></a>
                                            <a href="" title="Delete this Lifecycle Event"
                                               ng-click="deleteLEfromVNFD($index)">
                                                <i class="fa fa-trash-o"> </i></a>
                                        </div>

                                    </div>
                                    <hr class="hr_title"/>
                                </div>
                            </div>
                        </tab>
                        <tab class="" heading="virtual_link" ng-show="showTab(vnfdCreate.virtual_link.length)">
                            {{vnfdCreate.virtual_link}}
                        </tab>
                    </tabset>
                    <!--{{vnfdCreate}}-->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="editAddNVNFD"
                        ng-click="sendVNFD()" class="btn btn-primary">Save VNFD
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalCreateNSD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceFormLabel">Create a Network Service Descriptor</h4>
            </div>
            <div class="modal-body">
                <button ng-if="data.serviceContainers.length == 0" class="btn btn-default" data-toggle="modal"
                        data-target="#addContainerModal">Add Container
                </button>
                <form class="form-horizontal" role="form" id="formAddService">


                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">name</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" name="name"
                                   ng-model="nsdCreateTmp.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor" class="col-sm-4 control-label">vendor</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="vendor" name="vendor"
                                   ng-model="nsdCreateTmp.vendor"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="version" class="col-sm-4 control-label">version</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="version" name="version"
                                   ng-model="nsdCreateTmp.version"/>
                        </div>
                    </div>

                    <div class="input-group">
                        <label class=" ">VNFD in the Catalogue</label>
                        <select name="typeSelect" class="form-control modal-open" ng-model="selectedVNFD"
                                ng-options="vnfd.type for vnfd in vnfdList| orderBy:'itemKey':false">
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addTONSD()" type="button"
                                    title="Add this VNFD to NSD" ng-style="{'margin-top':'25px'}">
                                <span class="fa fa-plus" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    <hr>
                    <div ng-if="selectedVNFD">
                        <tabset>
                            <tab heading="Info">
                                <div class="table-responsive">
                                    <h4>Information</h4>
                                    <table
                                            class="table table-bordered table-striped table-hover tablesorter"
                                            id="">
                                        <thead>
                                        <tr>

                                            <th>name</th>
                                            <th>type</th>
                                            <th>version</th>
                                            <th>vendor</th>
                                            <th>endpoint</th>
                                            <th>configurations</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vdu in selectedVNFD.vdu | orderBy:predicate:reverse">
                                            <td>{{selectedVNFD.name}}</td>
                                            <td>{{selectedVNFD.type}}</td>
                                            <td>{{selectedVNFD.version}}</td>
                                            <td>{{selectedVNFD.vendor}}</td>
                                            <td>{{selectedVNFD.endpoint}}</td>
                                            <td>{{selectedVNFD.configurations.name}}:
                                                <pairlist
                                                        ng-repeat="cp in selectedVNFD.configurations.configurationParameters">
                                                    <pair>
                                                        <key><b>{{cp.confKey}}:</b>
                                                            <key>
                                                                <value>{{cp.value}}</value>
                                                    </pair>
                                                    <span ng-if="!$last">,</span>
                                                </pairlist>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Vdu">
                                <div class="table-responsive" ng-show="selectedVNFD.vdu.length > 0">
                                    <h4>Virtual Deployment Unit</h4>
                                    <table
                                            class="table table-bordered table-striped table-hover tablesorter"
                                            id="vduTabletable">
                                        <thead>
                                        <tr>

                                            <th>version</th>
                                            <th>vm image</th>
                                            <th>vim Name</th>
                                            <!--<th ng-click="predicate = 'vnfc_instance'; reverse = !reverse">vnfc_instance <i
                                                    class="fa fa-sort"></i>
                                            </th>-->
                                            <th ng-click="predicate = 'vnfc.id'; reverse = !reverse">vnfc <i
                                                    class="fa fa-sort"></i>
                                            </th>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vdu in selectedVNFD.vdu | orderBy:predicate:reverse">
                                            <td>{{vdu.version}}</td>
                                            <td>{{vdu.vm_image}}</td>
                                            <td>{{vdu.vimInstanceName}}</td>
                                            <!--<td>{{vdu.vnfc_instance}}</td>-->
                                            <td>
                                                <ul ng-repeat="vnfc in vdu.vnfc">
                                                    <li ng-repeat="cp in vnfc.connection_point">
                                                        <b>{{cp.virtual_link_reference}}</b>: <span title="floatingIp">{{cp.floatingIp}}</span>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Lifecycle Event">
                                <div class="table-responsive" ng-show="selectedVNFD.lifecycle_event.length > 0">
                                    <h4>Lifecycle Event</h4>
                                    <table
                                            class="table table-bordered table-striped table-hover tablesorter"
                                            id="">
                                        <thead>
                                        <tr>

                                            <th ng-click="predicate = 'event'; reverse = !reverse">event</th>
                                            <th ng-click="predicate = 'lifecycle_events'; reverse = !reverse">lifecycle
                                                events
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="le in selectedVNFD.lifecycle_event | orderBy:predicate:reverse">

                                            <td>{{le.event}}</td>
                                            <td><span ng-repeat="ev in le.lifecycle_events">{{ev}}<span
                                                    ng-if="!$last">, </span></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Deployment Flavour">
                                <div class="table-responsive" ng-show="selectedVNFD.deployment_flavour.length > 0">
                                    <h4>Deployment Flavour</h4>
                                    <table
                                            class="table table-bordered table-striped table-hover tablesorter"
                                            id="">
                                        <thead>
                                        <tr>
                                            <th>Version</th>
                                            <th>flavour key</th>
                                            <th>df Constraint</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="df in selectedVNFD.deployment_flavour | orderBy:predicate:reverse">
                                            <td>{{df.version}}</td>
                                            <td>{{df.flavour_key}}</td>
                                            <td>
                                                {{df.df_constraint}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Virtual Link" ng-show="selectedVNFD.virtual_link.length > 0">
                                <div class="table-responsive">
                                    <h4>Virtual Link</h4>
                                    <table
                                            class="table table-bordered table-striped table-hover tablesorter"
                                            id="">
                                        <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>extId</th>
                                            <th>qos</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vl in vnfd.virtual_link | orderBy:predicate:reverse">
                                            <td>{{vl.name}}</td>
                                            <td>{{vl.extId}}</td>
                                            <td>{{vl.qos}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>

                <div class="" ng-if="nsdCreateTmp.vnfd.length > 0">
                    <hr>
                    <b>VNFDs into NSD</b>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Endpoint</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="vnfd in nsdCreateTmp.vnfd track by $index">
                            <td>{{vnfd.type}}</td>
                            <td>{{vnfd.name}}</td>
                            <td>{{vnfd.endpoint}}</td>
                            <td><a href="" ng-click="deleteVNFDfromNSD($index)"><span class="fa fa-trash"></span></a>
                            </td>

                        <tr>
                        </tbody>
                    </table>


                </div>

                <div class="" ng-if="nsdCreateTmp.vnfd.length > 0">
                    <hr>
                    <b>Dependencies</b> <a title="add a new dependency" href="" data-target="#modalDependency"
                                           data-toggle="modal"><span class="fa fa-plus-square"></span></a>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Parameters</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dependency in nsdCreateTmp.vnf_dependency track by $index">
                            <td>{{dependency.source.name}}</td>
                            <td>{{dependency.target.name}}</td>
                            <td>{{dependency.parameters}}</td>
                            <td><a href="" ng-click="deleteDependency($index)"><span class="fa fa-trash"></span></a>
                            </td>

                        <tr>
                        </tbody>
                    </table>
                </div>

                <div class="" ng-if="nsdCreateTmp.vnfd.length > 0">
                    <hr>
                    <b>Virtual Link Descriptor</b>
                    <div class="form-group">
                        <label for="vld" class="col-sm-4 control-label"></label>
                        <div class="form-group input-group col-lg-6">
                            <input class="form-control " type="text" ng-model="vld" id="vld">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="addVld(vld)" title="Add this Virtual Link Descriptor"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                        </div>
                    </div>
                    <ul>
                        <li ng-repeat="vld in nsdCreateTmp.vld track by $index">{{vld.name}}
                            <a href="" ng-click="removeVld($index)"><span class="fa fa-trash"></span></a>
                        </li>
                    </ul>
                </div>


            </div><!--modal-body-->

            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id="addService"
                        class="btn btn-primary" ng-click="sendNSDCreate()">Add
                    Save NSD
                </button>
            </div><!--footer-->
        </div> <!--modal-content-->
    </div><!--modal-dialog-->
</div><!-- /.modal -->


<div class="modal fade" id="modalDependency" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a new Dependency</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="form7">

                    <div>
                        <div class="row">
                            <div class="col-lg-12">


                                <div class="col-sm-6">
                                    <label class="control-label"
                                           ng-init=""> Source</label>


                                    <select name="typeSelect" class="form-control modal-select"
                                            ng-model="dependency.source"
                                            ng-options="vnfd.name for vnfd in nsdCreateTmp.vnfd"
                                            ng-change="">
                                    </select>

                                </div>


                                <div class="col-sm-6">
                                    <label class="control-label"
                                           ng-init=""> Target:</label>

                                    <!--{{vnf.deployment_flavour}}-->

                                    <select name="typeSelect" class="form-control modal-select"
                                            ng-model="dependency.target"
                                            ng-options="vnfd.name for vnfd in nsdCreateTmp.vnfd"
                                            ng-change="">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label for="newValue" class="col-sm-4 control-label">Parameters</label>

                                    <div class="col-sm-6">
                                        <div class="form-group input-group">
                                            <input class="form-control" type="text" ng-model="newValue">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"
                                                        ng-click="addParam(newValue)"
                                                ><i class="fa fa-floppy-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <ul>
                            <li ng-repeat="par in dependency.parameters track by $index">{{par}}
                                <a href="" ng-click="removeParam($index)"><span class="fa fa-trash"></span></a>
                            </li>
                        </ul>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" id=""
                        ng-click="saveDependency()" class="btn btn-primary">Save Dependency
                </button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group" ng-repeat="(key,value) in editObj"
                         ng-if="key!='id' && isArray(value) && key!='hb_version'">
                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                   ng-model="editObj[key]"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateObj()">Update</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Alert</h4>
            </div>
            <div class="modal-body">
                <p>You have selected:</p>
                <ul ng-repeat="(k,v) in selection.ids" ng-if="v">
                    <li>{{k}}</li>
                </ul>
                <p>Please confirm your selection.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="multipleDeleteReq()" data-dismiss="modal">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>