<div class="row">
    <div class="col-lg-12">
        <h1>VDU
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a>
            </li>
            <li>
                <a href="#nsdescriptors"><i class="fa fa-pencil"></i>
                    NS Descriptors</a>
            </li>
            <li class="">
                <a href="#nsdescriptors/{{nsdinfo.id}}"><i class="fa fa-pencil"></i>
                    NSD: {{nsdinfo.name}}</a>
            </li>
            <li class="">
                <a href="#nsdescriptors/{{nsdinfo.id}}/vnfdescriptors/"><i class="fa fa-pencil-square-o"></i>
                    VNF Descriptors</a>
            </li>
            <li class="">
                <a href="#nsdescriptors/{{nsdinfo.id}}/vnfdescriptors/{{vnfdescriptorId}}"><i class="fa fa-pencil-square-o"></i>
                    VNF Descriptor</a>
            </li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                VDU
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer" ng-show="vduId">
        <div class="col-lg-12">
            <div>
                <div ng-repeat="vnfd in nsdinfo.vnfd" ng-show="vnfd.id==vnfdescriptorId">
                    <span ng-init="vnfdInfo=vnfd"></span>
                <div ng-repeat="vdu in vnfd.vdu" ng-show="vdu.id==vduId">
                    <h2>Virtual Deployment Unit</h2>
                    <dl class="dl-horizontal">
                        <spam ng-repeat="(k,v) in vdu" ng-if="k!='vimInstance'">
                            <dt>{{k}}</dt>
                            <dd>{{v}}</dd>

                        </spam>
                         <span ng-if="vdu.vimInstance">
                                 <dt>vimInstance</dt>
                                 <dd><a href="#vim-instances/{{vdu.vimInstance.id}}">{{vdu.vimInstance.name}}</a></dd>
                         </span>
                    </dl>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
