
<div class="row">
    <div class="col-lg-12">
        <h1>
            VNF <small>List of possible Virtual Network Functions</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li class="active"><i class="fa fa fa-list-alt"></i> Services</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row top-buffer">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
        <div class="row">
            <div class="col-sm-8 col-lg-2" >
                <div class="form-group">
                    <label for="searchInput">Search</label>
                    <input class="form-control" type="text" id="searchInput" ng-model="search.serviceType">
                </div>
            </div>
        </div>
        <div class="table-responsive">

            <table
                class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'serviceType'; reverse = !reverse">Service Name <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'flavour'; reverse = !reverse">Flavour <i class="fa fa-sort"></i></th>
                        <th>Actions <i class="fa"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in services| filter:search|orderBy:predicate:reverse">
                        <td><a ng-click="showData(data)" href="#services/{{data.id}}">{{data.id}}</a></td>
                        <td>{{data.serviceType}}</td>
                        <td>{{data.flavour}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action 
                                    <span class="caret"></span></button> 
                                <ul class="dropdown-menu" role="menu">
                                    <!--<li><a href="" data-toggle="modal" data-target="#launchService" ng-click="launchService(data)">Launch Instance</a></li>-->
                                    <li><a data-toggle="modal" data-target="#updateService" href=""  ng-click="updateService(data)">Update Service</a></li> 
                                    <li class="divider"></li>
                                    <li><a href="" ng-click="deleteService(data)">Delete</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- /#page-wrapper -->
<!-- Modal launch service-->
<div class="modal" id="launchService" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Launch Istance</h4>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" name="formL" id="formModalL" novalidate>

                    <div class="form-group" ng-class="{ 'has-error' : formL.name.$invalid && !formL.name.$pristine }">
                        <label for="name" class="col-sm-4 control-label">Name Topology</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="name" class="form-control" ng-model="topology.name" required>
                            <p ng-show="formL.name.$invalid && !formL.name.$pristine" class="help-block">Name is required.</p>

                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : selectedOneLocation }">
                        <label for="checkboxDiv" class="col-sm-4 control-label">Locations</label>
                        <div id="checkboxDiv" >
                            <div class="col-sm-6 input-group" >
                                <div class="checkbox" ng-repeat="location in locations">
                                    <label>
                                        <input type="checkbox" value="{{location}}"  ng-model="locationChecked[location]"  ng-change="selectedLocations(location)">
                                        {{location}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p ng-show="selectedOneLocation" class="help-block help-block col-sm-6 control-label">One Location is required.</p>
                    </div>
                    <div class="well">
                        <div ng-repeat="(key,value) in serviceContainer" ng-if="key != 'expose' && key != 'locations'">
                            <div class="form-group" ng-if="key != 'configuration' && key != 'services' && key != 'serviceType'" >
                                <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                           ng-model="serviceContainer[key]" placeholder="{{value}}"/>
                                </div>
                            </div>
                        </div>

                        <div ng-show="datacenters" class="form-group well well-lg" ng-repeat="datacenter in datacenters track by datacenter.id">

                            <p>Choose one Image for datacenter: {{datacenter.name}}</p>
                            <br>
                            <div class="col-sm-6 input-group row" >
                                <label class="">Image</label> 
                                <select name="typeSelect" class="modal-select form-control" ng-model="imageId[datacenter.name]" ng-options="v as k for (k,v) in datacenter.serviceImageId"></select>
                            </div>
                        </div>
                        <div ng-show="datacenters" class="form-group well well-lg" ng-repeat="datacenter in datacenters track by datacenter.id">

                            <p>Choose the Networks for datacenter: {{datacenter.name}}</p>
                            <br>
                            <label for="checkboxDiv" class="col-sm-4 control-label">Networks</label>
                            <div id="checkboxDiv" >
                                <div  class="col-sm-8 input-group" >
                                    <div class="checkbox" ng-repeat="subnets in datacenter.subnets track by $index">
                                        <label>
                                            <input type="checkbox" ng-model="subnets[datacenter.name]" name="subnets" id="{{$index}}" value="{{subnets.name}}" ng-change="selectSubnets(subnets)">
                                            {{subnets.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  ng-repeat="(key,value) in serviceEdit track by $index">
                        <div class="form-group" ng-if="key != 'configuration' && key != 'locations' && key != 'serviceType'">
                            <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>
                            <div class="col-sm-6 input-group">
                                <input type="text" name="{{key}}" class="form-control" ng-model="serviceEdit[key]">
                                <!--                            <p>{{value}}</p>-->
                            </div>
                        </div>



                        <div class="form-group" ng-if="key == 'configuration'" ng-repeat="parameter in value.parameters track by $index">
                            <label for="{{parameter.config_key}}" class="col-sm-4 control-label">{{parameter.config_key}}</label>
                            <div class="col-sm-6 input-group"><input type="text" ng-model="serviceEdit.configuration.parameters[$index].config_value" class="form-control parameters" id="{{parameter.config_key}}"  >
                                <span class="input-group-addon">@</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="formL.$invalid || selectedOneLocation" ng-click="submitForm(topology)"class="btn btn-primary">Launch Istance</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal update Service-->
<div class="modal" id="updateService" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Update Service</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formU" id="formModalU" novalidate>


                    <div class="form-group">
                        <label for="serviceType" class="col-sm-4 control-label">name</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="instanceName" class="form-control" ng-model="serviceEdit.serviceType" disabled="disabled">
                        </div>
                    </div>

                    <div  ng-repeat="(key,value) in serviceEdit track by $index">
                        <div class="form-group" ng-if="key != 'configuration' && key != 'locations' && key != 'serviceType' && key != 'id' && key != 'version'">
                            <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>
                            <div class="col-sm-6 input-group">
                                <input type="text" name="{{key}}" class="form-control" ng-model="serviceEdit[key]">
                                <!--                            <p>{{value}}</p>-->
                            </div>
                        </div>


                        <div class="form-group" ng-if="key == 'configuration'" ng-repeat="parameter in value.parameters track by $index">
                            <label for="{{parameter.config_key}}" class="col-sm-4 control-label">{{parameter.config_key}}</label>
                            <div class="col-sm-6 input-group"><input type="text" ng-model="serviceEdit.configuration.parameters[$index].config_value" class="form-control parameters" id="{{parameter.config_key}}"  >
                                <span class="input-group-addon">@</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="updateServicePut(serviceEdit)" class="btn btn-primary">Save
                    changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
