<div class="row">
    <div class="col-lg-12">
        <h1>Chains</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li class="active"><i class="fa fa-link"></i>
                Chains
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="btn_create_topology" class="btn btn-primary pull-right"
                title="Create a new Chain" data-toggle="modal"
                data-target="#modalChain" ng-click="createChain()">
            Create Chain
        </button>
        <button id="btn_delete_chain" style="margin-right: 15px;" class="btn btn-danger pull-right"
                title="Delete All Flows" ng-click="deleteAllChains()">Delete All Chains
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
    </div>
</div>
<div class="row" ng-show="chains">
    <div class="col-lg-12 top-buffer">
        <div>
            <table class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th>id</th>
                        <th ng-repeat="(k,v) in chains[0]"
                            ng-if="k !== 'id' && k !== 'route' && k !== 'stats' && k !== 'parameters' && k !== 'actions'">
                            {{k}}
                        </th>
                        <th>route</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chain in chains track by $index">
                        <td><a ng-href="#chains/{{chain.id}}">{{chain.id}}</a></td>

                        <td ng-repeat="(k,v) in chain"
                            ng-if="k !== 'id' && k !== 'route' && k !== 'stats' && k !== 'parameters' && k !== 'actions'">
                            {{v}}
                        </td>
                        <td>
                            <div ng-repeat="route in chain.route.route">
                                dpid: {{route.dpid}}<br/>
                                <i class="fa fa-sign-in"></i> id: {{route.inport.id}}, capacity:
                                {{route.inport.capacity}}, portNumber: {{route.inport.portNumber}}<br/>
                                <i class="fa fa-sign-out"></i> id: {{route.outport.id}}, capacity:
                                {{route.outport.capacity}}, portNumber: {{route.outport.portNumber}}
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action<span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="update(chain)">Update</a></li>
                                    <li><a href="" ng-click="deleteChain(chain.id)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--./wrapper-->
<div class="modal " id="modalChain" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a new Chain</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <div class="form-group" ng-repeat="(k,v) in chainForm">
                        <div ng-show="k !== 'qosLevel'">
                            <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="{{k}}" name="{{k}}"
                                       ng-model="chainForm[k]">
                            </div>
                        </div>
                        <div ng-show="k === 'qosLevel'">
                            <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>

                            <div class="col-sm-5">
                                <select name="typeSelect" class="form-control modal-select"
                                        ng-model="chainForm['qosLevel']"
                                        ng-options="qosL for qosL in qosLevel"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="sendChain(chainForm)"
                        data-dismiss="modal">Create Chain
                </button>
            </div>
        </div>
    </div>
</div>
<!--./modal-->
<div class="modal " id="modalUpdateC" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Create a new Chain</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <h4>Update Chain with id: {{updateChain.id}}</h4>

                    <div>
                        <label for="qosLevel" class="col-sm-4 control-label">qosLevel</label>
                        <div class="col-sm-5">
                            <select name="typeSelect" class="form-control modal-select"
                                    ng-model="updateChain['qosLevel']" ng-options="qosL for qosL in qosLevel"></select>
                        </div>
                        <br/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateC(updateChain)"
                        data-dismiss="modal">Update Chain
                </button>
            </div>
        </div>
    </div>
</div>
<!--./modal-->
