<div class="row">
    <div class="col-lg-12">
        <h1>
            Vim drivers
            <small>List of vim drivers installed and available at marketplace</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#main"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li class="active"><i class="fa fa-arrows-h"></i>
                Vim drivers
            </li>
        </ol>
    </div>
</div>
<div class="row">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
      <div ng-bind-html="alert.msg"></div>
  </alert>
</div>
<div class="row top-buffer">
  <div class="col-lg-12">
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover tablesorter" ng-show="drivers.length > 0">
    <thead>
      <th ng-click="predicate = 'id'; reverse = !reverse">Id <i class="fa fa-sort"></i></th>
      <th style="width: 25%;" ng-click="predicate = 'name'; reverse = !reverse">Name <i class="fa fa-sort"></i></th>
      <th ng-click="predicate = 'description'; reverse = !reverse">Description <i class="fa fa-sort"></i></th>
      <th>Install <i class="fa"></i></th>
    </thead>
    <tbody>
      <tr ng-repeat="data in drivers| filter:search|orderBy:predicate:reverse">
        <td>{{data.id}}</td>
        <td class="col-sm-1">{{data.name}}</td>
        <td>{{data.description}}</td>
        <td > <button type="button" style="margin-left: 10%; width: 80%;" class="btn btn-primary" ng-click="install(data)">Install   
            </button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
