<div class="row">
    <div class="col-lg-12">
        <h1>
            VIM instance
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#main"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li><a href="#vim-instances"><i class="fa fa-tasks"></i>
                VIM instances</a></li>
            <li class="active"><i class="fa fa-bar-chart-o"></i>
                {{vimInstance.name}}
            </li>
        </ol>
    </div>
</div>
<div class="row">



    <!--<h4><a href="#/vim-instances/{{vimInstance.id}}/networks" >Networks<i class=""></i></a></h4>-->
    <div class="col-lg-6">
      <h3>Refresh status <a href="" ng-click="refreshDc()"><i id="refreshIco"
                                                                                       class="fa fa-refresh"></i>
      </a></h3>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
      <div class = "table-responsive">
         <table
                class="table table-bordered table-hover tablesorter"
                id="nsdTabletable">
                <tbody>
                  <tr>
                    <td>Name</td><td>{{vimInstance.name}}</td>
                  </tr>
                  <tr>
                    <td>Authorisation URL</td><td>{{vimInstance.authUrl}}</td>
                  </tr>
                  <tr>
                    <td>Tenant</td><td>{{vimInstance.tenant}}</td>
                  </tr>
                  <tr>
                    <td>Username</td><td>{{vimInstance.username}}</td>
                  </tr>
                  <!--tr>
                    <td>VIM Key Pair</td><td>{{vimInstance.keyPair}}</td>
                  </tr-->
                  <!--tr>
                    <td>Password</td><td>  <span ng-show="!showPass">
                      <dd>********* <a ng-click="showPass=!showPass" href=""><i class="fa fa-eye" title="show password"> </i></a>
                      </dd>
                      </span>
                      <span ng-show="showPass">
                          <dd>{{vimInstance.password}} <a ng-click="showPass=!showPass" href=""><i class="fa fa-eye-slash"
                                                                                                   title="hide password"> </i></a>
                          </dd>
                      </span>
                    </td>
                  </tr-->
                  <tr>
                    <td>ID</td><td>{{vimInstance.id}}</td>
                  </tr>
                  <tr>
                    <td>Location ID</td><td>{{vimInstance.location.id}}</td>
                  </tr>
                  <tr>
                    <td>Location version</td><td>{{vimInstance.location.version}}</td>
                 </tr>
                  <tr>
                    <td>Location name</td><td>{{vimInstance.location.name}}</td>
                  </tr>
                  <tr>
                    <td>Project ID</td><td>{{vimInstance.projectId}}</td>
                  </tr>
                  <tr>
                    <td>Security Groups</td><td>{{vimInstance.securityGroups}}</td>
                  </tr>
                  <tr>
                    <td>Version</td><td>{{vimInstance.version}}</td>
                  </tr>
                </tbody>
        </table>



</div>
<tabset>

    <tab heading="Networks">
        <div ng-if="vimInstance.networks.length>0">
            <h4>Networks</h4>
            <!--{{vimInstance.networks[0]}}-->
            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <th class="col-sm-4" ng-click="predicate = 'id'; reverse = !reverse">Id <i
                            class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'version'; reverse = !reverse">version <i
                            class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'name'; reverse = !reverse">name <i class="fa fa-sort"></i>
                    <th ng-click="predicate = 'extId'; reverse = !reverse">extId <i class="fa fa-sort"></i>
                    <th ng-click="predicate = 'external'; reverse = !reverse">external <i
                            class="fa fa-sort"></i>
                    <th ng-click="predicate = 'shared'; reverse = !reverse">shared <i
                            class="fa fa-sort"></i>
                    <th ng-click="predicate = 'subnets.name'; reverse = !reverse">subnets <i
                            class="fa fa-sort"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="network in vimInstance.networks track by $index| orderBy:predicate:reverse">
                    <td>{{network.id}}</td>
                    <td>{{network.version}}</td>
                    <td>{{network.name}}</td>
                    <td>{{network.extId}}</td>
                    <td>{{network.external}}</td>
                    <td>{{network.shared}}</td>
                    <td>
                        <span ng-repeat="sub in network.subnets">{{sub.name}}
                            <ul>
                                <li>extId: {{sub.extId}}</li>
                                <li>networkId: {{sub.networkId}}</li>
                                <li>cidr: {{sub.cidr}}</li>
                                <li>gatewayIp: {{sub.gatewayIp}}</li>
                            </ul>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="Images">
        <div ng-if="vimInstance.images.length>0">
            <h4>Images</h4>
            <!--{{vimInstance.images[0]}}-->
            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <th class="col-sm-4" ng-click="predicate = 'id'; reverse = !reverse">Id <i
                            class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'version'; reverse = !reverse">version <i
                            class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'extId'; reverse = !reverse">extId <i class="fa fa-sort"></i>
                    <th ng-click="predicate = 'name'; reverse = !reverse">name <i class="fa fa-sort"></i>
                    <th ng-click="predicate = 'minRam'; reverse = !reverse">ram <i class="fa fa-sort"></i>
                    <th ng-click="predicate = 'minDiskSpace'; reverse = !reverse">disk <i
                            class="fa fa-sort"></i>
                    <th ng-click="predicate = 'isPublic'; reverse = !reverse">public <i
                            class="fa fa-sort"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="image in vimInstance.images track by $index| orderBy:predicate:reverse">
                    <td>{{image.id}}</td>
                    <td>{{image.version}}</td>
                    <td>{{image.extId}}</td>
                    <td>{{image.name}}</td>
                    <td>{{image.minRam}}</td>
                    <td>{{image.minDiskSpace}}</td>
                    <td>{{image.isPublic}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </tab>
    <tab heading="Flavours">
        <div ng-if="vimInstance.flavours.length>0">
            <h4>Flavours</h4>
            <table
                    class="table table-bordered table-striped table-hover tablesorter"
                    id="nsdTabletable">
                <thead>
                <tr>
                    <th class="col-sm-4" ng-click="predicate = 'id'; reverse = !reverse">Id <i
                            class="fa fa-sort"></i>
                    </th>
                    <th ng-click="predicate = 'flavour_key'; reverse = !reverse">flavour_key <i
                            class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'extId'; reverse = !reverse">extId <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'ram'; reverse = !reverse">ram <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'disk'; reverse = !reverse">disk <i class="fa fa-sort"></i></th>
                    <th ng-click="predicate = 'vcpus'; reverse = !reverse">vcpu <i class="fa fa-sort"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="flavour in vimInstance.flavours| orderBy:predicate:reverse">
                    <td>{{flavour.id}}</td>
                    <td>{{flavour.flavour_key}}</td>
                    <td>{{flavour.extId}}</td>
                    <td>{{flavour.ram}}</td>
                    <td>{{flavour.disk}}</td>
                    <td>{{flavour.vcpus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </tab>
</tabset>


<!-- /.wrapper -->


<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of VIM instance: {{vimInstance.name}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{vimInstanceJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group" ng-repeat="(key,value) in editObj"
                         ng-if="key!='id' && isArray(value) && key!='hb_version'">
                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                   ng-model="editObj[key]"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateObj()">Update</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
