<div class="row">
    <div class="col-lg-12">
        <h1>
            VIM instance
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#vim-instances"><i class="fa fa-tasks"></i>
                    VIM instances</a></li>
            <li class="active"><i class="fa fa-bar-chart-o"></i>
                {{datacenter.name}}</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <h3>Datacenter Name: {{datacenter.name}} <a href="" ng-click="refreshDc()"><i id="refreshIco" class="fa fa-refresh"></i></h3></a>
        <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
        <dl>
            <!--<h4><a href="#/vim-instances/{{datacenter.id}}/networks" >Networks<i class=""></i></a></h4>-->
            <div ng-repeat="(key,value) in datacenter">
                <div ng-if="key != 'location' && key != 'configuration' && key != 'serviceImageId' && key != 'switch' && key != 'subnets' && key != 'serviceContainers'">
                    <dt>{{key}}:</dt>
                    <dd>{{value}}</dd>
                </div>

                <div ng-if="key == 'location'">
                    <dt>{{key}}:</dt>
                    <dd>id: {{value.id}}</dd>
                    <dd>version: {{value.version}}</dd>
                    <dd>name: {{value.name}}</dd>
                </div>
                <div ng-if="key == 'subnets'">
                    <dt><a href="" data-toggle="modal"  data-target="#modalUpdateSubnets">Subnets <i class="fa fa-pencil-square-o"></i></a></dt>
                    <dd ng-repeat="sub in value">
                        id: {{sub.id}}, version: {{sub.version}}, extId: {{sub.extId}},
                        name: {{sub.name}}, cidr: {{sub.cidr}},
                        startIp: {{sub.startIp}}, endIp: {{sub.endIp}}
                    </dd>
                </div>
                <div ng-if="key == 'configuration'">
                    <dt>{{key}}:</dt>
                    <dd>id: {{value.id}}</dd>
                    <dd>version: {{value.version}}</dd>
                    <dd>configurationName: {{value.configurationName}}</dd>
                    <dt>parameters:</dt>
                    <dd ng-repeat="param in value.parameters">
                        <div>
                            <b>id</b>: {{param.id}}, <b>key</b>: {{param.config_key}}, <b>value</b>: {{param.config_value}}
                        </div>
                    </dd>
                </div>
                <div ng-if="key == 'serviceImageId'">
                    <dt><a href="" data-toggle="modal"  data-target="#modalUpdateImage">Images <i class="fa fa-pencil-square-o"></i></a></dt>
                    <dd>
                        <div ng-repeat="(k,v) in value">
                            <b>{{k}}</b>: {{v}}
                        </div>
                    </dd>
                </div>
                <div ng-if="key == 'switch'">
                    <dt>{{key}}:</dt>
                    <div ng-repeat="(k,v) in value">
                        <dd ng-if="k != 'ports'">
                            {{k}}: {{v}}
                        </dd>
                        <div ng-if="k == 'ports'">
                            <dt>{{k}}:</dt>
                            <div ng-repeat="port in v">
                                <dd ng-repeat="(k2,v2) in port">
                                    {{k2}}: {{v2}}
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dl>

    </div>
</div>

<!-- /.wrapper -->


<div class="modal " id="modalAddImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Add ImageId</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" name="formDC" id="formModalL"> 

                    <div  class="form-group" >
                        <label for="key" class="col-sm-4 control-label">key</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="key" class="form-control" ng-model="imageAdd.key">
                            <span class="input-group-addon">image</span>

                        </div>

                    </div>
                    <div  class="form-group" >
                        <label for="value" class="col-sm-4 control-label">value</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="value" class="form-control" ng-model="imageAdd.value">
                            <span class="input-group-addon">image</span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendNewImage(imageAdd)"
                        data-dismiss="modal">Add Image</button>
            </div>
        </div>
    </div>
</div>
<!--/.modal-->
<div class="modal " id="modalUpdateImage" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="serviceLabel">Update Images</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formDC" id="formModalL"> 
                    <div  class="form-group" ng-repeat="(keyI,valueI) in upDatacenter.serviceImageId track by $index">
                        <label for="city_" class="col-sm-4 control-label">{{keyI}}</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" name="{{keyI}}" class="form-control" ng-model="upDatacenter.serviceImageId[keyI]">
                            <span class="input-group-addon">image &nbsp;
                                <a href=""type="button"  data-toggle="modal" data-target="#modalAddImage">
                                    <i class="fa fa-plus">&nbsp;</i>
                                </a>
                                <a href=""type="button"  ng-click="deleteImage(keyI)"> 
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div ng-show="emptyObj(upDatacenter.serviceImageId)">
                        No Image found!<br/> 
                        <a href="" style="display:inline;" type="button"  data-toggle="modal" data-target="#modalAddImage">
                            <i class="fa fa-plus">&nbsp; Add a new one</i>
                        </a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="sendUpdateDC"
                        class="btn btn-primary" ng-click="updateDC(upDatacenter)">Update Images</button>
            </div>
        </div>
    </div>
</div>
<!--/.modal-->
<div class="modal " id="modalUpdateSubnets" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="serviceLabel">Update Subnets</h4>
            </div>
            <div class="modal-body">
                <div ng-show="upDatacenter.subnets.length === 0">
                    No subnet found!<br/> 
                    <a href="" style="display:inline;" type="button"  data-toggle="modal" data-target="#modalAddSub">
                        <i class="fa fa-plus">&nbsp; Add a new one</i>
                    </a>
                </div>
                <form class="form-horizontal" name="formDC" id="formModalL"> 
                    <div ng-repeat="sub in upDatacenter.subnets track by $index" >
                        <table id="tableServices" class="table" >
                            <thead>
                            <th>name</th>
                            <th>extId</th>
                            <th>startIp</th>
                            <th>endIp</th>
                            <th>cidr</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="{{upDatacenter.subnets[$index].name}}" class="form-control" ng-model="upDatacenter.subnets[$index].name">
                                    </td>
                                    <td>
                                        <input type="text" name="{{upDatacenter.subnets[$index].extId}}" class="form-control" ng-model="upDatacenter.subnets[$index].extId">
                                    </td>
                                    <td>
                                        <input type="text" name="{{upDatacenter.subnets[$index].startIp}}" class="form-control" ng-model="upDatacenter.subnets[$index].startIp">
                                    </td>

                                    <td>
                                        <input type="text" name="{{upDatacenter.subnets[$index].endIp}}" class="form-control" ng-model="upDatacenter.subnets[$index].endIp">
                                    </td>
                                    <td>
                                        <input type="text" name="{{upDatacenter.subnets[$index].cidr}}" class="form-control" ng-model="upDatacenter.subnets[$index].cidr">
                                    </td>
                                    <td>
                                        <a title="Add a new subnet" href="" style="display:inline;" type="button"  data-toggle="modal" data-target="#modalAddSub">
                                            <i class="fa fa-plus">&nbsp;</i>
                                        </a>
                                        <a title="Delete this subnet" style="display:inline;" type="button"  ng-click="deleteSubnet($index)"> 
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr class="hr_title" >
                    </div>     
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="sendUpdateDC"
                        class="btn btn-primary" ng-click="updateDC(upDatacenter)">Update Subnets</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div class="modal " id="modalAddSub">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Add Subnet</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" name="formDC" id="formModalL"> 
                    <table id="tableServices" class="table" >
                        <thead>
                        <th>name</th>
                        <th>extId</th>
                        <th>startIp</th>
                        <th>endIp</th>
                        <th>cidr</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="{{subAdd.name}}" class="form-control" ng-model="subAdd.name">
                                </td>
                                <td>
                                    <input type="text" name="{{subAdd.extId}}" class="form-control" ng-model="subAdd.extId">
                                </td>
                                <td>
                                    <input type="text" name="{{subAdd.startIp}}" class="form-control" ng-model="subAdd.startIp">
                                </td>

                                <td>
                                    <input type="text" name="{{subAdd.endIp}}" class="form-control" ng-model="subAdd.endIp">
                                </td>
                                <td>
                                    <input type="text" name="{{subAdd.cidr}}" class="form-control" ng-model="subAdd.cidr">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addNewSub(subAdd)"
                        data-dismiss="modal">Add new Subnet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of VIM instance: {{datacenter.name}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{datacenterJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>