
<div class="row">
    <div class="col-lg-12">



        <div class="row">
            <div class="col-lg-12">

                <div id="menu-container">
                    <div plumb-menu-item class="menu-item col-lg-2" ng-repeat="module in services" ng-style="{ 'left':module.x, 'top':module.y }"
                         data-identifier="{{module.serviceType}}" data-json="{{module}}" draggable>
                        <div class="summary">{{module.serviceType}}</div>
                    </div>
                </div>
                <div id="container" class="drop-container col-lg-10" ng-click="addEvent($event)" droppable>
                </div>
            </div>
        </div>


        <div plumb-item class="item" ng-repeat="module in schema track by $index" ng-style="{ 'left':module.x, 'top':module.y }"
             data-identifier="{{module.schema_id}}" data-json="{{module}}" id="{{module.schema_id}}">
            <div class="title">{{module.description.serviceType}}</div>
            <!--<div>{{module.description}}</div>-->
            <div plumb-remove class="trash pull-right"><i class=" fa fa-times" > </i></div>
            <div show-modal myindex=$index class="wrench pull-left"><i class="fa fa-wrench "></i></div>
            <div plumb-connect class="connect"><i class="fa fa-dot-circle-o "></i></div>
        </div>
    </div>
    <p>
        <button type="button" class="btn btn-primary" ng-click="redraw()">Redraw</button>
    </p>

    <!--  does not render what comes behind it, so it's probably wrong -->
    <div post-render></div>

    <span ng-init="init()"></span>

</div>


<div class="col-lg-12">

</div>



<div class="modal" id="addInstanceModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceFormLabel">Add Instance</h4>
            </div>
            <div class="modal-body">


                <br>
                <form class="form-horizontal" role="form" name="formForm" novalidate>


                    <div class="">

                        <div  ng-repeat="(key,value) in serviceEdit.description track by $index">

                            <div class="form-group" ng-if="key != 'configuration' && key != 'locations' && key != 'serviceType' && key != 'requires'">
                                <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>
                                <div class="col-sm-6 input-group">
                                    <input type="text" name="{{key}}" class="form-control" ng-model="serviceEdit.description[key]">
                                </div>
                            </div>
                            <div class="form-group" ng-if="key == 'configuration'" ng-repeat="parameter in value.parameters track by $index">
                                <label for="{{parameter.config_key}}" class="col-sm-4 control-label">{{parameter.config_key}}</label>
                                <div class="col-sm-6 input-group"><input type="text" ng-model="serviceEdit.description.configuration.parameters[$index].config_value" class="form-control parameters" id="{{parameter.config_key}}"  >
                                    <span class="input-group-addon">@</span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="key == 'requires'">
                                <label for="checkboxDiv" class="col-sm-4 control-label">requires</label>
                                <div id="checkboxDiv" >
                                    <div class="col-sm-6 input-group" >
                                        <div class="checkbox" ng-repeat="require in requires track by $index">
                                            <label>
                                                <input type="checkbox" value="{{require}}"  ng-model="requireChecked[require]" ng-change="selectedRequires(require)" >
                                                {{require}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 ">
                            <div ng-repeat="poli in policies track by $index">
                                <i class="fa fa-bell-o"></i> {{poli.alarm.expression.item}} {{poli.alarm.expression.operation}} {{poli.alarm.expression.value}} period: {{poli.alarm.period}}
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <i class="fa fa-magic"></i> {{poli.action.actionType}} num. of unit: {{poli.action.num}} period: {{poli.action.period}}
                                <div class="pull-right">
                                    <a href="" title="Delete Policy" ng-click="deletePolicy($index)">  <i class="fa fa-trash-o"> Delete </i></a>  
                                </div>
                                <hr/>
                            </div>
                            <div class="pull-right">

                                <a href="" title="Add a new Policy for this Service" data-toggle="modal" data-target="#modalPolicy"> 
                                    <i class="fa fa-plus-circle"> Add Policy</i>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"

                        data-dismiss="modal">Close</button>
                <button type="button" id="addInstance" 
                        ng-disabled="formIsEmpity()" data-dismiss="modal"
                        ng-click="saveService(serviceEdit)" class="btn btn-primary">Add Instance</button>
            </div>
        </div>

    </div>
</div>
