<div class="row">
    <div class="col-lg-12">
        <h1>Service Instance <small>Information</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#topologies/{{topologyId}}"><i class="fa fa fa-cloud-upload"></i>
                    Topology: {{topologyId}}</a></li>
            <li class="active"><i class="fa fa-cog"></i>
                Service: {{serviceInstance.id}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button id="btn_create_topology" class="btn btn-primary pull-right" title="Add a new Policy" data-toggle="modal" data-target="#modalPolicy">Add Policy</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>

        <div >

            <div id="divTableServices" ng-if="serviceInstance" >

                <h3>Services Instance name: {{serviceInstance.instanceName}}</h3>

            </div>
            <table id="tableInfoService" class="table table-bordered table-striped table-hover tablesorter prettyprint top-buffer"
                   ng-if="serviceInstance.policies">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id';
                            reverse = !reverse">id <i class="fa fa-sort"></i></th>

                        <th ng-click="predicate = 'instanceName';
                            reverse = !reverse">alarm <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'flavour';
                            reverse = !reverse">action <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'serviceType';
                            reverse = !reverse">strategy <i class="fa fa-sort"></i></th>

                        <!--<th>Unit</th>-->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="poli in serviceInstance.policies| orderBy:predicate:reverse">
                        <td>{{poli.id}}</td>

                        <td>
                            <i class="fa fa-bell-o"></i> {{poli.alarm.expression.item}} {{poli.alarm.expression.operation}} {{poli.alarm.expression.value}} &emsp;&emsp; period: {{poli.alarm.period}}
                        </td>
                        <td>
                            <i class="fa fa-magic"></i> {{poli.action.actionType}} num. of unit: {{poli.action.num}} &emsp;&emsp;period: {{poli.action.period}}
                        </td>
                        <td>{{poli.strategy}}</td>

                        <!--                        <td>
                                                    <div class="btn-group pull-right"><button type="button" class="btn btn-default" ng-click="removeUnit(containerId)">-</button> 
                                                        <button type="button" class="btn btn-default" ng-click="addUnit(containerId)">+</button>
                                                    </div>
                                                </td>-->
                        <!--<td><a ng-href="#topologies/{{topologyId}}/containers/{{serviceSelected.id}}/units/{{relationElement.serviceInstance.id}}">Units</a></td>-->
                        <td>
                            <div class="btn-group"><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action <span class="caret"></span></button> 
                                <ul class="dropdown-menu" role="menu">
                                    <li><a  href=""  ng-click="deletePolicyId(poli.id)">Delete</a></li>   
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>


        </div>
    </div>
</div>

<div class="modal" id="modalPolicy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="serviceLabel">Create a Policy for Service {{serviceInstance.instanceName}}</h4>
            </div>
            <div class="modal-body">
                <h3 class="">Alert</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <label class=" ">Item</label> 
                        <select name="typeSelect" class="form-control modal-select"  ng-model="policy.alert.item"  ng-options="items as items.itemKey for items in items| orderBy:'itemKey':false" ng-init="policy.alert.item = items[0]"></select>
                        <span class="help-block" ng-show="policy.alert.item">{{policy.alert.item.name}}</span>
                    </div>

                    <div class=" col-sm-2">
                        <label class="">sign</label> 
                        <select name="typeSelect" class="form-control modal-select" ng-init="policy.alert.sign = signs[0]" ng-model="policy.alert.sign" ng-options="signs as signs for signs in signs| orderBy:'signs':false"></select>
                    </div>
                    <div class="col-sm-2">
                        <label class=" ">Value</label>
                        <input type="number" class="form-control"  ng-model="policy.alert.value" >
                    </div>
                    <div class="col-sm-2 pull-right" style="margin-right: 50px">
                        <label class="">Period</label> {{policy.alert.period}}
                        <input class="" type="range" min="0" max="100" ng-model="policy.alert.period" ng-init="policy.alert.period = '60'" size="20" id="periodAlert" />

                        <!--                        <input type="number" class="form-control"  ng-model="policy.alert.period" >-->
                    </div>
                </div>
                <hr/>
                <h3 class="">Action</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <label class=" ">Type</label>
                        <select name="typeSelect" class="form-control modal-select" ng-init="policy.action.actionType = types[0]" ng-model="policy.action.actionType" ng-options="types as types for types in types| orderBy:'types':false" ></select>
                    </div>

                    <div class=" col-sm-2">
                        <label class="">Num. unit</label> {{policy.action.unit}}
                        <!--<input type="number" class="form-control"  ng-model="policy.action.unit" >-->
                        <input  type="range" min="0" max="10" ng-model="policy.action.unit" ng-init="policy.action.unit = '1'" size="10" id="unitAction" />
                    </div>
                    <div class="col-sm-2 pull-right" style="margin-right: 50px">
                        <label class=" ">Period</label> {{policy.action.period}}
                        <input class="" type="range" min="0" max="100" ng-model="policy.action.period" ng-init="policy.action.period = '60'" size="20" id="periodAction" />
                        <!--<input type="number" class="form-control"  ng-model="policy.action.period" >-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" id="addPolicy" class="btn btn-primary" ng-click="addPolicy()">Add
                    Policy</button>
            </div>
        </div>
    </div>
</div>