
<div class="row">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <span ng-init="cleanContainer()"></span>

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Services
                </div>
                <div class="panel-body" data-drop="true" ng-model='schemaM' data-jqyoui-options="{accept:'.item-service'}"  jqyoui-droppable="{multiple:true}">

                    <div class="item-service" ng-repeat='item in schemaM' ng-show="item.description" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="schemaM" jqyoui-draggable="{index: {{$index}}}" >{{item.title}}
                        <span class="pull-right options-menu">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i role="button" class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Containers 
                    <span class="pull-right">
                        <a popover="Add a new Container" popover-placement="left" popover-trigger="mouseenter"
                           data-toggle="modal" data-target="#addContainerModal"><i class="fa fa-plus-square"></i>
                        </a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="container-empty" ng-show="containers != 0">

                        <div class="panel panel-info" ng-repeat="container in containers track by $index">
                            <div class="panel-heading">
                                {{container.containerName}} 
                                <span class="pull-right options-menu btn-group">
                                    <a href="" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i role="button" class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="" ng-click="deleteContainer($index)">Delete</a></li>
                                    </ul>

                                </span>

                            </div>
                            <div class="panel-body" data-drop="true" ng-model='container.services' data-jqyoui-options="{accept:'.item-service'}"  jqyoui-droppable="{multiple:true}">

                                <div class="caption">
                                    <div class="item-service" data-drag="true" ng-repeat="item in container.services track by $index" ng-show="item.title" data-jqyoui-options="{revert: 'invalid'}" ng-model="container.services" jqyoui-draggable="{index: {{$index}}, placeholder: 'true'}" ng-hide="!item.title">{{item.title}}</div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="container-empty" ng-show="containers == 0">
                        <i class="fa fa-info-circle"></i> Add at least one container
                    </div>


                </div>
                <div class="panel-footer" ng-show="containers != 0">
                    <button ng-click="sendTopology()" class="btn btn-primary btn-sm btn-block" ng-class="{'disabled': schemaM != 0}">Send Topology</button>
                </div>
            </div>

        </div>



    </div>

    <div class="modal" id="addContainerModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="serviceFormLabel">Add Container</h4>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab heading="Details">
                            <br>
                            <form class="form-horizontal" role="form" name="formForm" novalidate>
                                <div ng-repeat="(key,value) in serviceContainer" ng-if="key != 'expose' && key != 'locations'">
                                    <div class="form-group" ng-if="key != 'configuration' && key != 'services' && key != 'serviceType'" >
                                        <label for="{{key}}" class="col-sm-4 control-label">{{key}}</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                                                   ng-model="serviceContainer[key]" placeholder="{{value}}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="checkboxDiv" class="col-sm-4 control-label">Location</label>
                                    <div id="checkboxDiv" >
                                        <div  class="col-sm-8 input-group" >
                                            <div class="checkbox" ng-repeat="location in locations track by $index">
                                                <label>
                                                    <input type="checkbox" value="{{location}}" ng-model="locationChecked[location]" ng-change="selectedLocations(location)"  >
                                                    {{location}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </tab>
                        <tab heading="Images" >
                            <br>
                            <form class="form-horizontal" role="form" name="formContainer" novalidate>
                                <div ng-show="datacenters" class="form-group well well-lg" ng-repeat="datacenter in datacenters track by datacenter.id">
                                    <div class="col-sm-6 input-group col-lg-offset-3" >
                                        <label class="">Image for: {{datacenter.name}}</label>
                                        <select name="typeSelect" class="modal-select form-control" ng-model="imageId[datacenter.name]" ng-options="v as k for (k,v) in datacenter.serviceImageId"></select>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Networking">
                            <br>
                            <form class="form-horizontal" role="form" name="formContainer" novalidate>
                                <div ng-show="datacenters" class="form-group well well-lg" style="background: #fdfdfb"ng-repeat="datacenter in datacenters track by datacenter.id">
                                    <p ng-init="expose[datacenter.name] = {}; ">Choose the Networks for datacenter: {{datacenter.name}}</p>
                                    <!--<label for="checkboxDiv" class="col-sm-4 control-label" ng-init="expose[datacenter.name] = {}; ">Networks</label>-->
                                    <div id="checkboxDiv" >
                                        <div class="row ">
                                            <div class="col-lg-12">
                                                <div  class="" >
                                                    <form class="form-horizontal" role="form" name="formForm" novalidate>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class=" form-group" ng-class="{ 'has-error' : mgmt == '' }">
                                                                    <label for="typeSelect" class="col-sm-4 control-label">Please select the mgmt network</label>
                                                                    <div class="input-group col-sm-5">
                                                                        <select name="typeSelect" class="form-control " ng-model="mgmt" ng-options="net.name as net.name for net in datacenter.subnets" ng-change="selectMgmt(mgmt)">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="well-sm well row" ng-repeat="subnets in datacenter.subnets track by $index| orderBy:'subnets.name':false ">
                                                        <div class="col-md-6 " >

                                                            <div class="checkbox " >
                                                                <label ng-init="expose[datacenter.name][subnets.name] = {};">
                                                                    <input type="checkbox" ng-model="subnets[datacenter.name]" name="subnets" id="{{$index}}" value="{{subnets.name}}" ng-change="selectSubnets(subnets)">
                                                                    {{subnets.name}}
                                                                </label>
                                                            </div>
                                                            <div class=""ng-class="{'has-error':!checkIP(fixedip[datacenter.name][subnets.name]) }" ng-show="subnets[datacenter.name]">
                                                                <label class="control-label">Fixed IP</label>

                                                                <input  type="text" class="form-control"  name="{{fixedip[datacenter.name]}} "
                                                                        ng-model="fixedip[datacenter.name][subnets.name]" ng-init="fixedip[datacenter.name] = {}" placeholder="{{subnets.cidr}}" />
                                                                <span class="help-block">In this range {{subnets.cidr}}</span>
                                                            </div>


                                                        </div>
                                                        <div class="col-md-6 " ng-show="subnets[datacenter.name]">
                                                            <div ng-show="noMoreFloatingIp">
                                                                <p class="help-block">None Floating IP available.</p>
                                                            </div>
                                                            <div ng-show="!noMoreFloatingIp" class="checkbox" ng-show="subnets[datacenter.name]">
                                                                <label >
                                                                    <input type="checkbox" ng-model="expose[datacenter.name][subnets.name].expose" ng-init="expose[datacenter.name][subnets.name].expose = false" id="{{datacenter.name}}-{{subnets.name}}"  name="expose"  ng-change="selectExpose(datacenter, expose[datacenter.name][subnets.name].expose, expose[datacenter.name][subnets.name].floatingIP)">
                                                                    expose: {{subnets.name}}<br/>
                                                                    <!--{{expose}}-->
                                                                </label>
                                                            </div>
                                                            <div class=""ng-if="expose[datacenter.name][subnets.name].expose" >
                                                                <label class="control-label" ng-init="expose[datacenter.name][subnets.name].floatingIP = floatingIPsNET[0]">Floating IP</label>
                                                                <select name="typeSelect" class="form-control modal-select"  ng-model="expose[datacenter.name][subnets.name].floatingIP" ng-options="ip for ip in floatingIPsNET | orderBy:'ip':false" ng-change="updateFloatingIPs(datacenter, expose[datacenter.name][subnets.name].floatingIP)"></select>
                                                                <span ng-if="expose[datacenter.name][subnets.name].floatingIP" class="help-block">Selected Floating IP: <b>{{expose[datacenter.name][subnets.name].floatingIP}}</b></span>

                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-default"
                            class="close"
                            aria-hidden="true"
                            data-dismiss="modal">Close</button>
                    <button type="button" id="sendTopology"
                            ng-class="{'disabled': !netCheck}" data-dismiss="modal"
                            ng-click="addContainer(serviceContainer)" class="btn btn-primary">Add Container</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal " id="modalTopology" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h4 class="modal-title" id="serviceLabel">Send Topology</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <form class="form-horizontal" role="form" name="formForm" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : formForm.Name.$invalid  }">
                            <label for="Name" class="col-sm-4 control-label">Name
                                Topology</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="Name" name="Name"
                                       ng-model="topology.name" placeholder="Topology" value="" required>
                                <p ng-show="formForm.Name.$invalid" class="help-block">Name is required.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="checkboxDiv" class="col-sm-4 control-label">Location</label>
                            <div id="checkboxDiv" >
                                <div  class="col-sm-8 input-group" >
                                    <div class="checkbox" ng-repeat="location in locations track by $index">
                                        <label>
                                            <input type="checkbox" value="{{location}}" ng-model="locationChecked[location]" ng-change="selectedLocations(location)"  >
                                            {{location}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    <button type="button" id="sendTopology" data-dismiss="modal"
                            ng-click="sendTopologyModal()" class="btn btn-primary">Send Topology</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>