<div class="row">
    <div class="col-lg-12">
        <h1>Flow</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#switches"><i class="fa fa-random"></i>
                    Switches</a></li>
            <li class="active"><i class="fa fa-signal"></i>
                Flow</li>
        </ol>
    </div>
</div>
<div class="row" ng-show="flows">
    <div class="col-lg-12" >
        <h3>Flow for switch with dpid: {{flows[0].dpid}}</h3>
        <button id="btn_create_flow" class="btn btn-primary pull-right" 
                title="Create a new Flow" data-toggle="modal" 
                data-target="#modalFlow" ng-click="">Create Flow
        </button>
        <button id="btn_delete_flow" style="margin-right: 15px;" class="btn btn-danger pull-right"
                title="Delete All Flows" ng-click="deleteAllFlow()">Delete All Flows
        </button>
    </div>
</div>
<div class="row" ng-show="flows">
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
        <div> 
            <table class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th ng-repeat="(k,v) in flows[0]" ng-if="k !== 'match' && k !== 'stats' && k !== 'parameters' && k !== 'actions'">{{k}}</th>
                        <th>match</th>
                        <th>stats</th>
                        <th>parameters</th>
                        <th>actions</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="flow in flows">
                        <td ng-repeat="(k,v) in flow" ng-if="k !== 'match' && k !== 'stats' && k !== 'parameters' && k !== 'actions'">{{v}}</td>
                        <td>
                            <div ng-repeat="(k,v) in flow.match" ng-if="v !== -1" ng-show="v !== ''">
                                {{k}}: {{v}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="(k,v) in flow.stats" ng-if="v !== -1">
                                {{k}}: {{v}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="(k,v) in flow.parameters" ng-if="v !== -1">
                                {{k}}: {{v}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="action in flow.actions">
                                <div ng-repeat="(k,v) in action" ng-if="v !== -1">
                                    type: {{v.type}}, value: {{v.value}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="delete(flow)">Delete</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal " id="modalFlow" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title" id="serviceLabel">Create a new Flow</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formForm" role="form">
                    <div class="form-group" ng-repeat="(k,v) in flowForm">
                        <label for="{{k}}" class="col-sm-4 control-label">{{k}}</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="{{k}}" name="{{k}}"
                                   ng-model="flowForm[k]">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="sendFlow(flowForm)"
                        data-dismiss="modal">Create Flow</button>
            </div>
        </div>
    </div>
</div>