<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenBaton Overview</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="dist/css/openbaton.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-switch.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="dist/css/timeline.css" rel="stylesheet">

    <link href="dist/css/dropzone.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="dist/css/json.human.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body>

<div id="wrapper" ng-controller="LoginController">
    <div ng-if="!loggedF()" ng-init="checkSecurity()"></div>
    <div ng-if="!loggedF()" ng-include="'login.html'"></div>
    <div ng-if="loggedF()" ng-include="'menu.html'"></div>
</div>
<!--<script src="js/libs/d3.min.js"></script>-->
<!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script data-main="js/main" src="js/libs/require/require.js"></script>


</body>

</html>
