<div class="row">
    <div class="col-lg-12">
        <h1>
            User
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#main"><i class="fa fa-dashboard"></i>
                Overview</a></li>
            <li><a href="#users"><i class="fa fa-users"></i>
                Users</a></li>
            <li class="active"><i class="fa fa-user"></i> User: {{user.username}}</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row top-buffer">
    <div class="col-lg-12">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>

        <div class="col-lg-12" ng-show="user">
          <div class="col-lg-7">
          <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
            <div class = "table-responsive">
               <table
                      class="table table-bordered table-hover tablesorter"
                      id="nsrTabletable">
                      <tbody>
                        <tr>
                          <td>Name</td>
                          <td>{{user.username}}</td>
                        </tr>
                        <tr>
                          <td>Enabled</td>
                          <td>{{user.enabled}}</td>
                        </tr>
                        <tr>
                          <td>ID</td>
                          <td>{{user.id}}</td>
                        </tr>
                      </tbody>
                </table>
              </div>
           </div>
          <div class="col-lg-12">
            <tabset>
              <tab heading="Roles">
                <div class="table-responsive">
                  <table
                          class="table table-bordered table-striped table-hover tablesorter"
                          id="rolesTabletable">
                          <thead>
                          <tr>
                              <th>Project</th>
                              <th>Role</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="role in user.roles">
                            <td>{{role.project}}</td>
                            <td>{{role.role}}</td>
                            </tr>
                          </tbody>

                  </table>
                </div>
              </tab>
            </tabset>
          </div>


        </div>
    </div>
</div>

<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">JSON of Event: {{user.name}}</h4>
            </div>
            <div class="modal-body">
                <pre id="json">{{userJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
