<div class="row">
    <div class="col-lg-12">
        <h1>VNF Descriptor
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a>
            </li>

            <li class="">
                <a href="#vnfdescriptors"><i class="fa fa-file-text-o"></i>
                    VNF Descriptors</a>
            </li>
            <li class="active"><i class="fa fa-file-text-o"></i>
                VNF Descriptor {{nsdinfo.name}}
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" ng-show="vnfdinfo">
      <div class="col-lg-6">
        <div class = "table-responsive">
           <table
                  class="table table-bordered table-hover tablesorter"
                  id="vnfdTabletable">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{vnfdinfo.name}}</td>
                    </tr>
                    <tr>
                      <td>Project ID</td>
                      <td>{{vnfdinfo.projectId}}</td>
                    </tr>
                    <tr>
                    <tr>
                      <td>Type</td>
                      <td>{{vnfdinfo.type}}</td>
                    </tr>
                    <tr>
                      <td>Version</td>
                      <td>{{vnfdinfo.version}}</td>
                    </tr>
                    <tr>
                      <td>Endpoint</td>
                      <td>{{vnfdinfo.endpoint}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.connection_point">
                      <td>Connection point</td>
                      <td>{{vnfdinfo.connection_point}}</td>
                    </tr>
                    <tr>
                      <td>Cyclic Dependency</td>
                      <td>{{vnfdinfo.cyclicDependency}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.manifest_file_security">
                      <td>Manifest File Security</td>
                      <td>{{vnfdinfo.manifest_file_security}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.monitoring_parameter">
                      <td>Monitoring Parameters</td>
                      <td>{{vnfdinfo.monitoring_parameter}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.provides">
                      <td>Provides</td>
                      <td>{{vnfdinfo.provides}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.requires.length > 0">
                      <td>Requires</td><td>{{vnfdinfo.requires}}</td>
                    </tr>
                    <!--tr ng-show="vnfdinfo.service_deployment_flavour">
                      <td>Service Deployment Flavour</td><td>{{vnfdinfo.service_deployment_flavour"}}</td>
                    </tr-->
                    <tr ng-show="vnfdinfo.vdu_dependency">
                      <td>VDU dependency</td><td>{{vnfdinfo.vdu_dependency}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.vld">
                      <td>VLD</td><td>{{vnfdinfo.vld}}</td>
                    </tr>
                    <tr ng-show="vnfdinfo.vnfPackageLocation">
                      <td>VNF Package Location</td><td><a href="#packages/{{vnfdinfo.vnfPackageLocation}}">{{vnfdinfo.vnfPackageLocation}}</a></td>
                    </tr>
                    <tr ng-show="vnfdinfo.vnffgd">
                      <td>VNF Forwarding Graph</td><td>{{vnfdinfo.vnffgd}}</td>
                    </tr>



                  </tbody>
           </table>
        </div>
     </div>
        <div class="col-lg-12">

            <div>
                <!--dl class="dl-horizontal">
                    <dt>name</dt>
                    <dd>{{vnfdinfo.name}}</dd>
                    <dt>type</dt>
                    <dd>{{vnfdinfo.type}}</dd>
                    <dt>version</dt>
                    <dd>{{vnfdinfo.version}}</dd>
                    <dt>vendor</dt>
                    <dd>{{vnfdinfo.vendor}}</dd>
                    <span ng-if="vnfdinfo.configurations">
                        <dt>{{vnfdinfo.configurations.name}}</dt>
                        <dd>
                            <pairlist ng-repeat="cp in vnfdinfo.configurations.configurationParameters">
                                <pair>
                                    <key><b>{{cp.confKey}}:</b>
                                        <key>
                                            <value>{{cp.value}}</value>
                                </pair>
                                <span ng-if="!$last">,</span>
                            </pairlist>
                        </dd>
                    </span>
                    <spam ng-repeat="(k,v) in vnfdinfo" ng-show="v != null"
                          ng-if="k!='vdu' && k!='deployment_flavour' ">

                        <spam ng-if="k!='requires' && k!='provides' && k!='lifecycle_event'&& k!='name'&& k!='type'&& k!='version'&& k!='vendor' && k!='configurations'  && k!='virtual_link' && k!='vnfPackage'">
                            <dt>{{k}}</dt>
                            <dd>{{v}}</dd>
                        </spam>

                        <spam ng-if="k=='vnfPackage'">
                            <dt>{{k}}</dt>
                            <dd>
                                       <span ng-repeat="(k,v1) in v">
                                            <b>{{k}}</b>: {{v1}}
                                           <span ng-if="!$last">,</span>
                                        </span>
                            </dd>
                        </spam>
                        <spam ng-if="k=='requires' || k=='provides'">
                            <hr class="hr_title">
                            <dt>{{k}}</dt>
                            <dd>{{v}}</dd>
                            <hr class="hr_title">
                        </spam>

                    </spam>
                </dl-->
                <tabset>
                    <tab heading="Vdu">
                        <div class="table-responsive" ng-show="vnfdinfo.vdu.length > 0">
                            <h3>Virtual Deployment Unit</h3>
                            <table
                                    class="table table-bordered table-striped table-hover tablesorter"
                                    id="vduTabletable">
                                <thead>
                                <tr>
                                    <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'version'; reverse = !reverse">Version <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'vm_image'; reverse = !reverse">VM Image <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'vimInstanceName'; reverse = !reverse">VIM Name
                                        <i
                                                class="fa fa-sort"></i>
                                    </th>

                                    <th ng-click="predicate = 'vnfc.id'; reverse = !reverse">Connection Point <i
                                            class="fa fa-sort"></i>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="vdu in vnfdinfo.vdu | orderBy:predicate:reverse">
                                    <td>
                                        <!--a href="#nsdescriptors/{{nsdinfo.id}}/vnfdinfoescriptors/{{vnfdinfo.id}}/vdus/{{vdu.id}}">{{vdu.id}}</a-->
                                        {{vdu.id}}
                                    </td>
                                    <td>{{vdu.version}}</td>
                                    <td>{{vdu.vm_image}}</td>
                                    <td>{{vdu.vimInstanceName}}</td>
                                    <!--<td>{{vdu.vnfc_instance}}</td>-->
                                    <td>
                                        <ul ng-repeat="vnfc in vdu.vnfc">
                                            <li ng-repeat="cp in vnfc.connection_point">
                                                <b>{{cp.virtual_link_reference}}</b>: <span title="floatingIp">{{cp.floatingIp}}</span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Lifecycle Event">
                        <div class="table-responsive" ng-show="vnfdinfo.lifecycle_event.length > 0">
                            <h3>Lifecycle Event</h3>
                            <table
                                    class="table table-bordered table-striped table-hover tablesorter"
                                    id="">
                                <thead>
                                <tr>
                                    <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'event'; reverse = !reverse">event <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'lifecycle_events'; reverse = !reverse">lifecycle
                                        events <i class="fa fa-sort"></i>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="le in vnfdinfo.lifecycle_event | orderBy:predicate:reverse">
                                    <td>{{le.id}}</td>
                                    <td>{{le.event}}</td>
                                    <td><span ng-repeat="ev in le.lifecycle_events">{{ev}}<span
                                            ng-if="!$last">, </span></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Deployment Flavour">
                        <div class="table-responsive" ng-show="vnfdinfo.deployment_flavour.length > 0">
                            <h3>Deployment Flavour</h3>
                            <table
                                    class="table table-bordered table-striped table-hover tablesorter"
                                    id="">
                                <thead>
                                <tr>
                                    <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'version'; reverse = !reverse">Version <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-show='vnfdinfo.deployment_flavour[0].flavour_key' ng-click="predicate = 'flavour_key'; reverse = !reverse">flavour key <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-show='vnfdinfo.deployment_flavour[0].df_constraint' ng-click="predicate = 'vnfc.df_constraint'; reverse = !reverse">df
                                        Constraint <i
                                                class="fa fa-sort"></i>
                                    </th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="df in vnfdinfo.deployment_flavour | orderBy:predicate:reverse">
                                    <td>{{df.id}}</td>
                                    <td>{{df.version}}</td>
                                    <td ng-show='vnfdinfo.deployment_flavour[0].flavour_key'>{{df.flavour_key}}</td>
                                    <td ng-show='df.df_constraint'>
                                        {{df.df_constraint}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Virtual Link">
                        <div class="table-responsive" ng-show="vnfdinfo.virtual_link.length > 0">
                            <h3>Virtual Link</h3>
                            <table
                                    class="table table-bordered table-striped table-hover tablesorter"
                                    id="">
                                <thead>
                                <tr>
                                    <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-click="predicate = 'name'; reverse = !reverse">Name <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-show="vl.extID" ng-click="predicate = 'extId'; reverse = !reverse">External ID <i
                                            class="fa fa-sort"></i>
                                    </th>
                                    <th ng-show="vl.qos" ng-click="predicate = 'qos'; reverse = !reverse">QoS <i
                                            class="fa fa-sort"></i>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="vl in vnfdinfo.virtual_link | orderBy:predicate:reverse">
                                    <td>{{vl.id}}</td>
                                    <td>{{vl.name}}</td>
                                    <td ng-show="vl.extID">{{vl.extId}}</td>
                                    <td ng-show="vl.qos">{{vl.qos}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab  heading="Auto Scaling Policies" ng-show="vnfdinfo.auto_scale_policy">
                        <div class="table-responsive">
                          <h3>Auto Scaling Policies</h3>
                          <table
                                  class="table table-bordered table-striped table-hover tablesorter"
                                  id="">
                          <thead>
                          <tr><th>Version</th><th>Name</th><th>Threshold</th><th>Comparison Operator</th><th>Period</th><th>Cooldown</th><th>Mode</th><th>Type</th><th>Alarms</th><th>Actions</th></tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="policy in vnfdinfo.auto_scale_policy">
                                <td>{{policy.version}}</td>
                                <td>{{policy.name}}</td>
                                <td>{{policy.threshold}}</td>
                                <td>{{policy.comparisonOperator}}</td>
                                <td>{{policy.period}}</td>
                                <td>{{policy.cooldown}}</td>
                                <td>{{policy.mode}}</td>
                                <td>{{policy.type}}</td>
                                <td> <div ng-repeat="alarm in policy.alarms">
                                  {{alarm.metric}} {{alarm.comparisonOperator}} {{alarm.threshold}} <br> </div></td>
                                <td><div ng-repeat="action in policy.actions" >{{action.type}} {{action.value}} <br></div></td>
                            </tr>
                          </tbody>
                          </table>
                        </div>
                    </tab>
                </tabset>
                <br/>
                <br/>
                <br/>

            </div>
        </div>
    </div>
</div>
