<div class="row">
    <div class="col-lg-12">
        <h1>Controller
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a></li>
            <li><a href="#controllerTs"><i class="fa fa-retweet"></i>
                    Controller</a></li>
            <li class="active"><i class="fa fa-retweet"></i>
                {{controllerT.id}}</li>
        </ol>
    </div>
</div>
<div class="row" >
    <div class="col-lg-12">
        <h3>Controller</h3>
        <dl>
            <dt>id:</dt> 
            <dd>{{controllerT.id}}</dd>
            <dt>version:</dt> 
            <dd>{{controllerT.version}}</dd>
            <dt>ip:</dt> 
            <dd>{{controllerT.ip}}</dd> 
            <dt>tcpPort:</dt> 
            <dd>{{controllerT.tcpPort}}</dd> 
        </dl>

    </div>
</div>
<h4>Switches:</h4>

<div class="row" ng-show="controllerT" >
    <div class="col-lg-12 top-buffer">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><div ng-bind-html="alert.msg"></div></alert>
        <div>
            <table class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th ng-click="predicate = 'id';
                            reverse = !reverse">id <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'ports.length';
                            reverse = !reverse">Ports <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'dpid';
                            reverse = !reverse">dpid  <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'ip';
                            reverse = !reverse">ip  <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'tcpPort';
                            reverse = !reverse">tcpPort  <i class="fa fa-sort"></i></th>
                        <th ng-click="predicate = 'location.name';
                            reverse = !reverse">location  <i class="fa fa-sort"></i></th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in controllerT.switches| orderBy:predicate:reverse">
                        <td><a href="#switches/{{data.dpid}}">{{data.id}}</a></td>
                        <td>{{data.ports.length}}</td>
                        <td>{{data.dpid}}</td>
                        <td>{{data.ip}}</td>
                        <td>{{data.tcpPort}}</td>
                        <td>{{data.location.name}}</td>
                        <td>
                            <div class="btn-group"><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Action <span class="caret"></span></button> 
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href=""  ng-click="delete(data)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
