<div class="row">
    <div class="col-lg-12">
        <h1>Network Service Record
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a>
            </li>
            <li>
                <a href="#nsrecords"><i class="fa fa-pencil-square-o"></i>
                    NS Records</a>
            </li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                NSR Name: {{nsrinfo.name}}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer" ng-show="nsrinfo">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <div ng-bind-html="alert.msg"></div>
        </alert>
        <div class="col-lg-12">
            <h2>NSR name: {{nsrinfo.name}}</h2>
            <a href="#" data-toggle="modal" data-target="#jsonInfo">Show JSON</a>
            <br/>
            <a href="#nsrecords/{{nsrinfo.id}}/graph">Show Graph</a>
            <dl class="dl-horizontal">
                <dt>id:</dt>
                <dd>{{nsrinfo.id}}</dd>
                <dt>Vendor:</dt>
                <dd>{{nsrinfo.vendor}}</dd>
                <dt>Version:</dt>
                <dd>{{nsrinfo.version}}</dd>
                <dt>Status:</dt>
                <dd>{{nsrinfo.status}}</dd>
            </dl>
            <br/>
            <br/>
            <tabset>
                <tab heading="VNF Records">
                    <div class="table-responsive" ng-if="nsrinfo.vnfr.length > 0">
                        <h3>VNF Records</h3>
                        <table
                                class="table table-bordered table-striped table-hover tablesorter"
                                id="vnfrTabletable">
                            <thead>
                            <tr>
                                <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'name'; reverse = !reverse">VNFR Name <i
                                        class="fa fa-sort"></i></th>
                                <th ng-click="predicate = 'type'; reverse = !reverse">VNFR Type <i
                                        class="fa fa-sort"></i></th>
                                <th ng-click="predicate = 'vendor'; reverse = !reverse">Vendor <i
                                        class="fa fa-sort"></i></th>
                                <th ng-click="predicate = 'verision'; reverse = !reverse">Version <i
                                        class="fa fa-sort"></i>
                                <th ng-click="predicate = 'status'; reverse = !reverse">Status <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th>Actions <i class="fa"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="vnfr in nsrinfo.vnfr | orderBy:predicate:reverse">
                                <td><a href="#nsrecords/{{nsrinfo.id}}/vnfrecords/{{vnfr.id}}">{{vnfr.id}}</a>
                                </td>
                                <td>{{vnfr.name}}</td>
                                <td>{{vnfr.type}}</td>
                                <td>{{vnfr.vendor}}</td>
                                <td>{{vnfr.version}}</td>
                                <td>{{vnfr.status}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="" ng-click="addVNFCIModal(vnfr)">Add VNFCI</a></li>
                                            <li><a href="" ng-click="removeVNFCI(vnfr)">Remove VNFCI</a></li>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="" ng-click="deleteVNFR(vnfr)">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <!--<dd>
                    <spam ng-repeat="vnfr in nsrinfo.vnfr">
                        <spam ng-repeat="(k,v) in vnfr"><b>{{k}}</b>: {{v}}
                            <spam ng-if="!$last">,</spam>
                        </spam>
                    </spam>
                </dd>-->
                <tab heading="VNF Forward Graph Descriptor" ng-if="nsrinfo.vnffgd.length>0">
                    <div ng-show="nsrinfo.vnffgd>0">
                        <dt>VNF Forward Graph Descriptor:</dt>
                        <dd>
                            <spam ng-repeat="vnfr in nsrinfo.vnffgd">
                                <spam ng-repeat="(k,v) in vnfr"><b>{{k}}</b>: {{v}}
                                    <spam ng-if="!$last">,</spam>
                                </spam>
                            </spam>
                        </dd>
                    </div>

                </tab>
                <tab heading="VNF Dependencies" ng-if="nsrinfo.vnf_dependency.length > 0">
                    <div class="table-responsive">
                        <h3>VNF Dependencies</h3>
                        <table
                                class="table table-bordered table-striped table-hover tablesorter"
                                id="vnfrepTabletable">
                            <thead>
                            <tr>
                                <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'idType'; reverse = !reverse">idType <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'parameters'; reverse = !reverse">Parameters <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'version'; reverse = !reverse">Version <i
                                        class="fa fa-sort"></i>
                                </th>
                                </th>
                                <th>Actions <i class="fa"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="df in nsrinfo.vnf_dependency | orderBy:predicate:reverse">
                                <td><a href="#nsrecords/{{nsrinfo.id}}/vnfdependencies/{{df.id}}"
                                       ng-click="showData(nsd)">{{df.id}}</a>
                                </td>
                                <td><span ng-repeat="(k,v) in df.idType">{{v}}<span ng-if="!$last">, </span></span></td>
                                <td><span ng-repeat="(k,v) in df.parameters"><b>{{k}}</b>:
                        <ul>
                            <li ng-repeat="(k2,v2) in v.parameters">{{k2}}: {{v2}}</li>
                        </ul>
                    </span>
                                </td>
                                <td>{{df.version}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="" data-toggle="modal" data-target="#modalAdd"
                                                   ng-click="launch(nsd)">Launch</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="" ng-click="deleteVNFDependency(df)">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
            </tabset>
        </div>


    </div>
</div>

<!--<div class="row">
    <div class="panel panel-default top-buffer" id="graphContainer"
         style="min-height: 500px" data-ng-init="Jsplumb()"></div>
</div>-->

<div class="modal" id="jsonInfo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <dt class="modal-title" id="myModalLabel">JSON of NSR: {{nsdInfo.name}}</dt>
            </div>
            <div class="modal-body">
                <pre id="json">{{nsrJSON}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="addVNFCItoVDU">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add the Connection Points to the VNFC</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">

                    <div class="col-lg-offset-1">
                        <div class="form-group ">
                            <div class="form-group col-sm-5">
                                <label class=" control-label">Virtual link reference</label>

                                <div class="">
                                    <select name="typeSelect" class="form-control modal-select"
                                            ng-model="connection_point.virtual_link_reference"

                                            ng-options="vl.name as vl.name for vl in vnfrSelected.virtual_link | orderBy:'name':false"
                                            ng-change="">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-sm-6 ">
                                <label for="floatingIp" class="control-label">floatingIp</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="floatingIp" name="floatingIp"
                                           ng-model="connection_point.floatingIp"/>
                                                <span class="input-group-btn">
                                                <button class="btn btn-default" ng-click="addCPtoVNFCI()" type="button"
                                                        title="Add this Connection Point to VNFCI">
                                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                </div>


                            </div>
                        </div>
                    </div>
                    <table
                            class="table table-bordered table-striped table-hover tablesorter"
                            id="" ng-if="connection_points.length > 0">
                        <thead>
                        <tr>

                            <th>Virtual link reference</th>
                            <th>floatingIp</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cp in connection_points track by $index | orderBy:predicate:reverse">
                            <td>{{cp.virtual_link_reference}}</td>
                            <td>{{cp.floatingIp}}</td>
                            <td>
                                <a href="" ng-click="removeCPtoVNFCI($index)"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addVNFCI()" ng-disabled="connection_points.length===0">Add Instance</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->