<div class="row">
    <div class="col-lg-12">
        <h1>VNF Record
            <small>Information</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                    Overview</a>
            </li>
            <li>
                <a href="#nsrecords"><i class="fa fa-pencil"></i>
                    NS Descriptors</a>
            </li>
            <li class="">
                <a href="#nsrecords/{{nsrinfo.id}}"><i class="fa fa-pencil"></i>
                    NSR: {{nsrinfo.name}}</a>
            </li>
            <li class="">
                <a href="#nsrecords/{{nsrinfo.id}}/vnfrecords"><i class="fa fa-pencil-square-o"></i>
                    VNF Records</a>
            </li>
            <li class="active"><i class="fa fa-pencil-square-o"></i>
                VNF Record
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 top-buffer" ng-show="nsrinfo">
        <div class="col-lg-12">
            <div>
                <span ng-repeat="vnfr in nsrinfo.vnfr" ng-show="vnfr.id==vnfrecordId">
                    <h2>VNF Record: {{vnfr.name}}</h2>
                    <div ng-repeat="(k,v) in vnfr" ng-show="v != null" ng-if="k!='vdu' && k!='deployment_flavour'">
                        <dl class="dl-horizontal">
                        <span ng-if="k!='requires' && k!='provides'">
                                <dt>{{k}}</dt>
                                <dd>{{v}}</dd>
                        </span>
                        <span ng-if="k=='requires' || k=='provides'">
                             <hr class="hr_title">
                                <dt>{{k}}</dt>
                                <dd>{{v}}</dd>
                              <hr class="hr_title">
                        </span>
                        </dl>
                    </div>
                    <div class="table-responsive" ng-show="vnfr.vdu.length > 0">
                        <h3>Vdu</h3>
                        <table
                                class="table table-bordered table-striped table-hover tablesorter"
                                id="vduTabletable">
                            <thead>
                            <tr>
                                <th ng-click="predicate = 'id'; reverse = !reverse">Id <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'version'; reverse = !reverse">Version <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'vm_image'; reverse = !reverse">vm image <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'vimInstanceName'; reverse = !reverse">vimInstanceName <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'vnfc_instance'; reverse = !reverse">vnfc_instance <i
                                        class="fa fa-sort"></i>
                                </th>
                                <th ng-click="predicate = 'vnfc.id'; reverse = !reverse">vnfc <i
                                        class="fa fa-sort"></i>
                                </th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="vdu in vnfr.vdu | orderBy:predicate:reverse">
                                <td>{{vdu.id}}</td>
                                <td>{{vdu.version}}</td>
                                <td>{{vdu.vm_image}}</td>
                                <td>{{vdu.vimInstanceName}}</td>
                                <td>{{vdu.vnfc_instance}}</td>
                                <td>
                                    <span ng-repeat="vnfc in vdu.vnfc"> {{vnfc.connection_point}} </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
